<div class="basediv">
    <div class="lock" [class.disabled]="!locked" (click)="unlock()">
        <object type="image/svg+xml" data="./assets/byu_medallion_white.svg" class="logo">
        </object>
    </div>

    <div class="buttons">
        <i *ngIf="!locked" class="material-icons power" (click)="lock()">lock_open</i>
        <i *ngIf="locked" class="material-icons power" (click)="lock()">lock_outline</i>
    </div> 

	<div *ngIf="panel?.render">
		<div #wheels *ngFor="let preset of panel.presets">
			<wheel [preset]="preset"></wheel>
		</div>
	</div>
</div>
