@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-palette(mat.$blue-grey-palette, 700, 500, 900);
$accent: mat.define-palette(mat.$light-blue-palette, A700, 200, A700);
$warn: mat.define-palette(mat.$red-palette, 600, 800, 400);

$blueberry: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  ),
  density: 0,
));

@include mat.core-theme($blueberry);

.primary-background {
  background-color: mat.core-color($primary, 700);
}

/*
.mat-app-background {
  background-color: mat-color($primary, darker);
}

.mat-tab-label-darker {
  .mat-tab-label-container {
    background-color: mat-color($mat-blue-grey, 800);
  }
}
*/

// secondary theme.
// colors for help button, sliders, and other small visual elements.
$s-primary: mat.define-palette(mat.$light-blue-palette, A700, 200, 900);
$s-accent: mat.define-palette(mat.$teal-palette, 100, 200, 900);
$s-warn: mat.define-palette(mat.$lime-palette, 100, 200, 900);

$secondary: mat.define-dark-theme((
  color: (
    primary: $s-primary,
    accent: $s-accent,
    warn: $s-warn,
  ),
  density: 0,
));

.secondary-theme {
  @include mat.core-theme($secondary);
}
