$duration: .4s;
$ocentersize: 50vh;
$ccentersize: 30vh;
$owheelsize: 95vh;
$cwheelsize: 25vh;
$linewidth: .5vh;

$volumesize: 80%;

// reset automatic margins
ul {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.background {
    position: absolute;
    min-width: 100%;
    min-height: 100%;

	transition: $duration ease-in-out all;
    opacity: 0;
    pointer-events: none;

    &.open {
        backdrop-filter: blur(10px);
        opacity: 1;
        pointer-events: all;
    }
}

.title {
    position: absolute; 
    color: white;
    font-size: 5vh;
    width: 100%;
    text-align: center;
    z-index: 15;
	transition: $duration ease-in-out all;
    opacity: 0;
    margin-top: 4%;

    &.open {
        margin-top: 8%; 
        opacity: 1;
    }
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	transition: $duration ease-in-out all;

    &.open {
	    margin-top: 50vh !important;
	    margin-left: 50% !important;
    }
}

.wheel {
	padding: 0;
	list-style: none;
	position: absolute;
	min-width: $cwheelsize;
	min-height: $cwheelsize;	
    border-radius: 50%;

	transition: $duration ease-in-out all;

    &.open {
	    min-width: $owheelsize !important;
	    min-height: $owheelsize !important;
    }

	li {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 51%;
	}

    .title-slice {
//		clip-path: url(#title-sector);
    }

	.input-slice {
		clip-path: url(#sector);
	
		.input {
			position: absolute;
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;	
		
			font-size: 2.5vh;
		
			.material-icons {
				font-size: 11vh;	
			}
		}
	}
}

.thin {
	width: 100% !important;
	height: .01% !important;
	top: 50% !important;
}

.line {
	background: linear-gradient(to right, rgba(255,255,222,1) 50%, rgba(255,255,255,0) 50%);
	height: $linewidth;
	transform: rotate(90deg);
}

.center {
	position: absolute;
	border-radius: 50%;
	width: $ccentersize;
	height: $ccentersize;
	
	transition: $duration ease-in-out all;

    &.open {
	    width: $ocentersize;
	    height: $ocentersize;
    }

    .center-item {
        position: absolute; 
        width: 100%;
        text-align: center;
	    transition: $duration ease-in-out all;
    }

    .icon {
        margin-top: 25%;
        font-size: 500%;

        &.open {
            margin-top: 15%;
            font-size: 700%; 
        }
    }

    .picture {
        margin-top: 100%;
        opacity: 0;

        &.open {
            margin-top: 65%;
            opacity: 1;
        }
    }

    .switch {
        margin-top: 100%;
        opacity: 0;

        &.open {
            margin-top: 75%;
            opacity: 1;
        }
    }
}

.volume {
    position: absolute;
    height: $volumesize;
    right: 0;

    margin-right: 2%;
    margin-top: (100% - $volumesize) / 4;

    .mat-slider-vertical {
        height: 100%;
    }
}

.buttons {
    position: absolute;
    height: 3vh;
    margin-left: 3%;

    color: white;

    opacity: 0;
    pointer-events: none;

    &.open {
        opacity: 1;  
        pointer-events: all;
    }

    .power {
        font-size: 12vh; 
        margin-top: 3vh;
    }
}
