<div class="camera-tabs-container">
    <div class="camera-tab active-camera-tab" data-camera-tab="camera-control-tab">
        Camera 1
    </div>
    <div class="camera-tab" data-camera-tab="recording-control-tab">
        Camera 2
    </div>
</div>

<div class="camera-controls-container">
    <div class="camera-controls">
        <div class="set">
            <nav class="d-pad">
                <a class="up" href="#"></a>
                <a class="right" href="#"></a>
                <a class="down" href="#"></a>
                <a class="left" href="#"></a>
            </nav>
        </div>
        <div class="zoom-controls">
            <button class="zoom-btn zoom-in-btn">
                <img src="assets/zoom_in.svg">
            </button>
            <button class="zoom-btn zoom-out-btn">
                <img src="assets/zoom_out.svg">
            </button>
        </div>
    </div>



    <div class="camera-presets-container">
        <p class="presets-title">Presets</p>
        <div class="presets-container">
            <button class="preset-btn" >Room 1</button>
            <button class="preset-btn" >Room 2</button>
            <button class="preset-btn" >Room 3</button>
            <button class="preset-btn" >Room 4</button>
            <button class="preset-btn" >Room 5</button>
        </div>
    </div>
</div>