.column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.centered {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.message {
    text-align: center;
    font-size: 14pt;
}

.title {
    font-size: 30pt;
}

.ok-button {
    transform: scale(1.5);
    margin-top: 3vh;
    margin-bottom: 6vh;
}

.technical {
    color: #cecece;
}