<div class="basediv">
    <management [enabled]="home?.wheel?.getPower() !== 'on'"></management>

    <ng-container>
    <div *ngIf="home?.wheel?.getPower() !== 'on'"
        class="lock"
        (click)="unlock(); command.buttonPress('power on')">

        <ng-container *ngIf="!unlocking; else poweringOn">
            <!-- byu logo -->
            <object type="image/svg+xml"
                data="db/logo.svg"
                class="logo">
            </object>

            <!-- unlock text -->
            <span class="text"></span>
        </ng-container>

        <ng-template #poweringOn>
            <div class="logo">
                <mat-spinner color="primary"></mat-spinner>
            </div>
            <span class="text smaller">powering on, please wait...</span>
        </ng-template>
    </div>
    </ng-container>

    <home></home>
</div>

<div *ngIf="socket.screenoff" id="screenoff" (click)="socket.screenoff = false">
    press anywhere to start
</div>
