<div class="buttons top">
    <button mat-fab class="power button" (click)="turnOff()">
        <mat-icon>power_settings_new</mat-icon>
    </button>
    <button mat-fab class="help button" (click)="help.show()">
        <mat-icon>help</mat-icon>
    </button>
</div> 

<div *ngIf="data.panel?.render">
    <wheel [openControlledByPower]="true" [blur]="false" [preset]="data.panel.presets[0]" (init)="onWheelInit()"></wheel>
</div>

<div class="buttons bottom">
    <div *ngIf="!wheel?.preset?.extraInputs.includes(wheel?.getInput()) && data?.panel?.features.includes('display-to-all')">
        <button *ngIf="wheel?.preset === oldPreset" mat-fab class="dta button" (click)="displayToAll()">
            <mat-icon>screen_share</mat-icon>
        </button>
        <button *ngIf="wheel?.preset === dtaPreset" mat-fab class="dta button" (click)="unDisplayToAll()">
            <mat-icon>stop_screen_share</mat-icon>
        </button>
    </div>
</div> 

<swal #help></swal>
<swal #helpConfirm></swal>
<swal #changed></swal>
