<audiocontrol #audio class="audio"></audiocontrol>
<app-projector #screen class="audio"></app-projector>

<div class="buttons top">
  <button
    mat-fab
    class="power button"
    (click)="command.buttonPress('power off')"
    (click)="
      wheel?.preset?.shareablePresets?.length > 1
        ? showPowerOffDialog()
        : turnOff()
    "
    (press)="command.buttonPress('long press power off')"
    (press)="
      wheel?.preset?.shareablePresets?.length > 1
        ? showPowerOffDialog()
        : turnOff()
    "
  >
    <mat-icon>power_settings_new</mat-icon>
  </button>

  <button
    mat-fab
    class="help button"
    (click)="showHelp(); command.buttonPress('open help modal')"
    (press)="showHelp(); command.buttonPress('long press open help modal')"
  >
    <mat-icon>help</mat-icon>
  </button>
</div>

<div *ngIf="data.panel?.render">
  <wheel
    top="50vh"
    right="50vw"
    [sharing]="wheel?.preset === sharePreset"
    [openControlledByPower]="true"
    [blur]="false"
    [preset]="data.panel.preset"
    (init)="onWheelInit()"
  ></wheel>
</div>

<div class="buttons bottom">
  
  <ng-container
    *ngIf="
      data?.panel?.features.includes('share') &&
      wheel?.preset?.shareablePresets?.length > 0
    "
  >
    <button
      mat-fab
      *ngIf="wheel?.preset == defaultPreset"
      class="dta button"
      [class.grey]="wheel?.getInput()?.reachableDisplays?.length <= 1"
      (click)="showShareModal(); command.buttonPress('open share modal')"
      (press)="
        showShareModal(); command.buttonPress('long press open share modal')
      "
    >
    
      <mat-icon>screen_share</mat-icon>
    </button>
    <!-- TODO test unshare event -->
    <button
      mat-fab
      *ngIf="wheel?.preset != defaultPreset"
      class="dta button"
      (click)="
        unshare(defaultPreset, mirroringMe); command.buttonPress('unshare')
      "
      (press)="
        unshare(defaultPreset, mirroringMe);
        command.buttonPress('long press unshare')
      "
    >
      <mat-icon>stop_screen_share</mat-icon>
    </button>
  </ng-container>
  <ng-container
  *ngIf="wheel?.preset?.screens?.length > 0"
  >
    <button
      mat-fab
      class="dta button"
      (click)="screen.show(defaultPreset); command.buttonPress('open projector modal')"
      (press)="
        screen.show(defaultPreset);
        command.buttonPress('long press open projector modal')
      "
    >
    <mat-icon>unfold_more</mat-icon>
    </button>
  </ng-container>
</div>

<div class="buttons bottom right" [class.corner]="wheel?.getPower() !== 'on'">
  <button
    mat-fab
    *ngIf="
      defaultPreset?.independentAudioDevices?.length > 0 && !audio.isShowing()
    "
    class="independentAudio button"
    (click)="audio.show(defaultPreset); command.buttonPress('open audio modal')"
    (press)="
      audio.show(defaultPreset);
      command.buttonPress('long press open audio modal')
    "
  >
    <mat-icon class="rotate-90">tune</mat-icon>
  </button>
</div>
