<div *ngIf="blur" class="background" [class.open]="circleOpen" (click)="toggle()"></div>

<div class="circle" [ngStyle]="{
    'margin-top': top,
    'margin-left': right,
    'z-index': circleOpen ? 10 : 0,
    transform: circleOpen ? translate : 'translate(0,0)'
  }">
    <!-- wheel -->
    <ul #wheel class="wheel" [class.open]="circleOpen">
        <li class="title-slice" (click)="command.buttonPress('title slice')" (press)="command.buttonPress('long press title slice')">
            <div></div>
        </li>

        <li *ngFor="let i of preset.inputs" class="input-slice" [class.selected-input]="getInput() === i" [class.grey]="sharing && i.reachableDisplays.length === 1" (click)="
        i.click.emit();
        command.buttonPress('change input', {
          input: i?.name,
          displays: getDisplayNames()
        })
      " (press)="
        i.click.emit();
        command.buttonPress('long press change input', {
          input: i?.name,
          displays: getDisplayNames()
        })
      ">
            <div class="input" [style.top]="topoffset" [style.right]="rightoffset">
                <i class="material-icons">{{ i?.icon }}</i>
                <span class="name">{{ i?.displayname }}</span>
            </div>
        </li>

        <li *ngFor="let i of preset.extraInputs" class="input-slice" [class.selected-input]="getInput() === i" (click)="i.click.emit(); command.buttonPress('remirror', i?.name)" (press)="
        i.click.emit(); command.buttonPress('long press remirror', i?.name)
      ">
            <div class="input" [class.grey]="sharing && i.reachableDisplays.length === 1" [style.top]="topoffset" [style.right]="rightoffset">
                <i class="material-icons">{{ i?.icon }}</i>
                <span class="name">{{ i?.displayname }}</span>
            </div>
        </li>

        <!-- lines -->
        <li class="thin">
            <div class="line"></div>
        </li>

        <li *ngFor="let i of preset.inputs" class="thin">
            <div class="line"></div>
        </li>

        <li *ngFor="let i of preset.extraInputs" class="thin">
            <div class="line"></div>
        </li>
    </ul>

    <div class="center" [class.open]="circleOpen" [class.on]="getPower() == 'on'" (click)="command.buttonPress('circle center')" (press)="command.buttonPress('long press circle center')">
        <span class="center-item name" [class.open]="circleOpen">{{
      preset?.name
    }}</span>
        <i class="center-item material-icons icon" [class.open]="circleOpen" (click)="command.buttonPress('circle center'); $event.stopPropagation()" (press)="
        command.buttonPress('long press circle center');
        $event.stopPropagation()
      ">{{ preset?.icon }}</i
    >
    <span
      *ngIf="!getBlank()"
      class="center-item picture"
      [class.open]="circleOpen"
      >picture on</span
    >
    <span
      *ngIf="getBlank()"
      class="center-item picture"
      [class.open]="circleOpen"
      >picture off</span
    >
    <div
      class="center-item switch"
      [class.open]="circleOpen"
      (click)="$event.stopPropagation()"
      (press)="$event.stopPropagation()"
      style="border: none !important;"
    >
      <ui-switch 
        [checked]="getBlank()"
        (change)="command.setBlank($event, preset.displays); command.buttonPress($event ? 'blank' : 'unblank', getDisplayNames())" 
        reverse 
        defaultBgColor="#f44336">
      </ui-switch>
    </div>
  </div>
</div>

<!-- master volume slider -->
<ng-container
  *ngIf="
    preset?.audioDevices.length > 0 ||
    preset?.independentAudioDevices?.length > 0
  "
>
  <volume
    class="volume"
    muteType="mat-fab"
    [level]="getVolume()"
    name="Display Volume"
    [mute]="getMute()"
    (levelChange)="
      command.setVolume($event, preset?.audioDevices);
      command.buttonPress('display volume set on wheel screen', {
        level: $event
      })
    "
    (muteChange)="
      command.setMute($event, preset?.audioDevices);
      command.buttonPress(
        'display volume ' +
          ($event.muted ? 'mute' : 'unmute') +
          'on wheel screen'
      )
    "
  >
  </volume>
</ng-container>

<!-- one 'slice' of wheel -->
<svg id="svg-block" width="0" height="0" style="position: absolute;">
  <defs>
    <clipPath clipPathUnits="objectBoundingBox" id="sector">
      <path
        fill="transparent"
        stroke="#111"
        stroke-width="1"
        id="sector"
        [attr.d]="arcpath"
      ></path>
    </clipPath>
  </defs>
</svg>

<!-- title slice -->
<svg id="svg-block" width="0" height="0" style="position: absolute;">
  <defs>
    <clipPath clipPathUnits="objectBoundingBox" id="title-sector">
      <path
        fill="transparent"
        stroke="#111"
        stroke-width="1"
        id="sector"
        [attr.d]="titlearcpath"
      ></path>
    </clipPath>
  </defs>
</svg>