$duration: .4s;
$ocentersize: 50vh;
$ccentersize: 35vh;
$owheelsize: 95vh;
$cwheelsize: 25vh;
$linewidth: .12vh;

$volumesize: 90%;

// reset automatic margins
ul {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.background {
    position: absolute;
    min-width: 100%;
    min-height: 100%;

	transition: $duration ease-in-out all;
    will-change: opacity, backdrop-filter;
    opacity: 0;
    pointer-events: none;

    &.open {
        backdrop-filter: blur(10px);
        opacity: 1;
        pointer-events: auto;
    }
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	transition: transform $duration ease-in-out;
    will-change: transform;
}

.wheel {
	padding: 0;
	list-style: none;
	position: absolute;
	min-width: $cwheelsize;
	min-height: $cwheelsize;	
    border-radius: 50%;

	transition: transform $duration ease-in-out;
    will-change: transform;

    &.open {
        transform: scale(3.75, 3.75);
    }

	li {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 51%;
	}

	.input-slice {
		clip-path: url(#sector);
	
		.input {
			position: absolute;
            height: 25%;
            width: 25%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
		
			.material-icons {
                transform: scale(.95, .95);
                font-size: 3vh;
			}

            .name {
                transform: scale(.65, .65);
                font-size: 1vh;
                white-space: nowrap;
            }
		}
	}
}

.thin {
	width: 100% !important;
	height: .01% !important;
	top: 50% !important;
}

.line {
	background: linear-gradient(to right, rgba(255,255,222,1) 50%, rgba(255,255,255,0) 50%);
	height: $linewidth;
	transform: rotate(90deg);
}

.center {
	position: absolute;
	border-radius: 50%;
	width: $ccentersize;
	height: $ccentersize;
	
	transition: transform $duration ease-in-out;
    will-change: transform;

    &.open {
        transform: scale(1.5, 1.5);
    }

    .center-item {
        position: absolute; 
        width: 100%;
        text-align: center;
	    transition: transform $duration, opacity $duration, ease-in-out;
        will-change: transform, opacity;
        pointer-events: none;

        &.open {
            pointer-events: auto;
        }
    }

    .name {
        margin-top: 20%;
        
        &.open {
            transform: translateY(-390%);
        }
    }

    .icon {
        margin-top: 40%;
        font-size: 500%;

        &.open {
            transform: scale(.9, .9) translateY(-80%);
        }
    }

    .picture {
        margin-top: 60%;
        opacity: 0;
        font-size: 80%;

        &.open {
            opacity: 1;
        }
    }

    .switch {
        margin-top: 75%;
        opacity: 0;

        &.open {
            opacity: 1;
        }
    }
}

.volume {
    position: absolute;
    height: $volumesize;
    right: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-right: 3%;
    margin-top: (100% - $volumesize) / 3;

	&.independentAudio {
    	margin-top: (100% - $volumesize) / 2;
		height: 80%;
	}

    transition: background-color $duration ease-in-out;
    will-change: background-color;

    .mat-slider-vertical {
        height: 100%;
    }

    .notouch {
        pointer-events: none; 
    }

    .buttons {
        flex-direction: row;
    }

    .mute {
        height: 8vw;
        width: 8vw;

        background-color: #1E88E5;

        &.muted {
            background-color: #c62828; 
        }

        .mat-icon {
            font-size: 4vw; 
            height: 4vw;
            width: 4vw;
        }
    }
}
