<management [enabled]="true"></management>

<h1 mat-dialog-title class="text title">Help</h1>

<div mat-dialog-content class="text">
  <p>{{ data?.msg }}</p>
</div>

<div mat-dialog-actions class="items secondary-theme">
  <button mat-raised-button color="warn" (click)="cancel()" (press)="cancel()">
    Cancel
  </button>

  <activity-button
    type="mat-raised-button"
    color="primary"
    spinnerColor="accent"
    *ngIf="data?.showConfirm"
    [click]="requestHelp"
    [press]="requestHelp"
    (success)="openConfirmHelp()"
    >Request Help
  </activity-button>
</div>
