.text {
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.3em;

  &.title {
    font-size: 1.7em;
  }
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// to space things correctly
activity-button {
  margin-left: 8px;
}

.mat-grid-tile {
  button {
    min-width: 15vw;
  }
}
