{{define "device-control-page"}}

<div id="device-control-page" class="row spacing-top" style="display: none">
    <div class="row">
        <div class="col-xs-3">
            <center>
                <button type="button" class="btn btn-default">
                    Power
                </button>
            </center>
        </div>
        <div class="col-xs-3">
            <center>
                <button type="button" class="btn btn-default">
                    Volume Up
                </button>
            </center>
        </div>
        <div class="col-xs-3">
            <center>
                <button type="button" class="btn btn-default">
                    Volume Down
                </button>
            </center>
        </div>
        <div class="col-xs-3">
            <center>
                <button type="button" class="btn btn-default">
                    Mute
                </button>
            </center>
        </div>
    </div>
</div>

{{end}}
