{{define "sony-tv-page"}}

<div id="sony-tv-page" class="row padding-above" style="display: none">
    <div class="row">
        <div class="col-xs-6">
            <center>
                <button type="button" class="btn btn-default" onclick="setOutPutDevice('D1')">
                  Select Sony TV
              </button>
            </center>
        </div>
        <div class="col-xs-6">
            <center>
                <button type="button" class="btn btn-default" onclick="setOutPutDevice('D2')">
                  Select Projector
              </button>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <center>
                <button type="button" class="btn btn-default" onclick="powerOn()">
                    Power On
                </button>
            </center>
        </div>
        <div class="col-xs-6">
            <center>
                <button type="button" class="btn btn-default" onclick="powerOff()">
                    Power Off
                </button>
            </center>
        </div>
    </div>
</div>

{{end}}
