{{define "epson-projector-page"}}

<div id="epson-projector-page" class="row" style="display: none">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div id="source-well" class="row">
                <div class="col-xs-12">
                    <center>
                        <h3>Main Display</h3>
                        <button type="button" class="btn btn-default large-button">
                              <div id="source-well-icon"><span class="glyphicon glyphicon-blackboard"></span></div>
                              <div id="source-well-title">Blank</div>
                            </button>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <center>
                <button type="button" class="btn btn-default" disabled="disabled">
                    VGA/Audio
                </button>
            </center>
        </div>
        <div class="col-xs-2">
            <center>
                <button type="button" class="btn btn-default" disabled="disabled">
                    HDMI
                </button>
            </center>
        </div>
        <div class="col-xs-2">
            <center>
                <button type="button" class="btn btn-default" onclick="switchInput('HDMIIn')">
                    HDMI Port
                </button>
            </center>
        </div>
        <div class="col-xs-2">
            <center>
                <button type="button" class="btn btn-default" disabled="disabled">
                    AV Port
                </button>
            </center>
        </div>
        <div class="col-xs-2">
            <center>
                <button type="button" class="btn btn-default" disabled="disabled">
                    Blu-ray
                </button>
            </center>
        </div>
        <div class="col-xs-2">
            <center>
                <button type="button" class="btn btn-default" onclick="switchInput('AppleTV')">
                    Apple TV
                </button>
            </center>
        </div>
    </div>
</div>

{{end}}
