{{define "navigation"}}

<div id="navigation" class="row">
    <div class="col-xs-12">
        <ul class="nav nav-tabs nav-justified">
            <li id="device-control-tab"><a href="#device-control-page" onclick="bootpage.show('device-control-page', updateActiveTab)">Device Control</a></li>
            <li id="display-tab"><a href="#display-page" onclick="bootpage.show('display-page', updateActiveTab)">Display</a></li>
            <li id="audio-control-tab"><a href="#audio-control-page" onclick="bootpage.show('audio-control-page', updateActiveTab)">Audio Control</a></li>
        </ul>
    </div>
</div>

{{end}}
