{{define "splash"}}

<div id="idle-splash" onclick="wakeSystem()">
    <div id="message">Touch here to operate system</div>
    <div class="version-number"></div>
</div>
<div id="loading-splash" style="display: none">
    <div id="loading-animation">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
            <path class="svg" d="M323.3,263.3L390,136.7h60L336.7,363.3L190,76.7 M310,423.3L163.3,136.7L50,363.3h60l53.3-100H190" />
        </svg>
    </div>
    <div class="version-number"></div>
</div>

{{end}}
