{{define "audio-control-page"}}

<div id="audio-control-page" class="row padding-above" style="display: none">
    <div id="audio-outs" class="output-row">
        <!-- dynamically created buttons go here -->
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <center>
                <button type="button" class="btn btn-default soundboard-button" onclick="blankDisplay()">
                  Blank
              </button>
            </center>
        </div>
    </div>
    <div id="audio-ins" class="input-row">
        <!-- dynamically created buttons go here -->
    </div>
</div>

{{end}}
