{{define "audio-control-page"}}

<div id="audio-control-page" class="padding-above" style="display: none">
    <div id="audio-outs" class="output-row">
        <p class="row-heading">
            output devices
        </p>
        <!-- dynamically created buttons go here -->
    </div>
    <div id="audio-ins" class="input-row">
        <p class="row-heading" style="margin-top: 20px">
            input devices
        </p>
        <!-- dynamically created buttons go here -->
    </div>
</div>

{{end}}
