{{define "control-column"}}

<div id="control-column" class="col-xs-2" style="padding-left: 1.4%; padding-right: 1.4%;">
    <div class="row">
        <div class="col-xs-12"><span class="glyphicon glyphicon-off" onclick="confirmPowerOff()"></span></div>
    </div>
    <div class="row">
        <div class="col-xs-12"><span class="glyphicon glyphicon-question-sign" onclick="bootpage.show('help-page', updateActiveTab)"></span></div>
    </div>
    <div id="vol-up" class="row" onclick="increaseVolume()" style="display: none">
        <div class="col-xs-12"><span class="glyphicon glyphicon-chevron-up"></span></div>
    </div>
    <div id="vol-down" class="row" onclick="decreaseVolume()" style="display: none">
        <div class="col-xs-12"><span class="glyphicon glyphicon-chevron-down"></span></div>
    </div>
    <div id="vol-slider" style="display: none"></div>
    <div class="row" onclick="muteVolume()">
        <div class="col-xs-12"><span class="glyphicon glyphicon-volume-off"></span></div>
    </div>
</div>

<div id="beta-notice">
	BETA INTERFACE
</div>

{{end}}
