{{define "displays-page"}}

<div id="displays-page" class="row padding-above" style="display: none">
    <div id="displays" class="output-row">
        <!-- dynamically created buttons go here -->
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <center>
                <button type="button" class="btn soundboard-button" onclick="blankDisplay()">
                  Blank
              </button>
            </center>
        </div>
    </div>
    <div id ="display-inputs" class="input-row">
        <!-- dynamically create buttons go here -->
    </div>
</div>

{{end}}
