{{define "head"}}

<head>
    <title>Raspberry Pi Touchpanel Interface</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link href="dependencies/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="dependencies/sweetalert.css" rel="stylesheet" type="text/css" />
    <link href="dependencies/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="styles/main.css" rel="stylesheet" type="text/css" />
    <link href="styles/control-column.css" rel="stylesheet" type="text/css" />
    <link href="styles/navigation.css" rel="stylesheet" type="text/css" />
    <link href="styles/idle-splash.css" rel="stylesheet" type="text/css" />
    <link href="styles/loading-splash.css" rel="stylesheet" type="text/css" />
    <link href="styles/help-page.css" rel="stylesheet" type="text/css" />

    <script src="dependencies/jquery-2.2.4.min.js"></script>
    <script src="dependencies/sweetalert.min.js"></script>
    <script src="dependencies/bootstrap.min.js"></script>
    <script src="dependencies/bootpage.js"></script>
    <script src="scripts/commands.js"></script>
    <script src="scripts/main.js"></script>
</head>

{{end}}
