{{define "main"}}
<html>

{{template "head"}}

<body onload="init()">
    {{template "splash"}}
    <!-- get  hostname -->
      <div id="hostname" hidden>
        {{.}}
      </div>
    <div class="container-fluid">
        <div class="row">
            <!-- Leave two columns for the "control column" -->
            <div class="col-xs-10">
                {{template "navigation"}} {{template "displays-page"}} {{template "audio-control-page"}} {{template "help-page"}}
            </div>
            {{template "control-column"}}
        </div>
    </div>
</body>

</html>
{{end}}
