{{define "navigation"}}

<div id="navigation" class="row">
    <div class="col-xs-12">
        <ul class="nav nav-tabs nav-justified">
            <li id="room-tab"><a href="#room-page" onclick="setOutputDevice('room'); bootpage.show('room-page', updateActiveTab)">Room</a></li>
            <li id="sony-tv-tab"><a href="#sony-tv-page" onclick="setOutputDevice('D1'); bootpage.show('sony-tv-page', updateActiveTab)">Sony TV</a></li>
            <li id="epson-projector-tab"><a href="#epson-projector-page" onclick="setOutputDevice('D2'); bootpage.show('epson-projector-page', updateActiveTab)">EPSON Projector</a></li>
        </ul>
    </div>
</div>

{{end}}
