{{define "sony-tv-page"}}

<div id="sony-tv-page" class="row padding-above" style="display: none">
    <div class="row">
        <div class="col-xs-6">
            <center>
                <button type="button" class="btn btn-default soundboard-button" onclick="powerOn()">
                  Power On
              </button>
            </center>
        </div>
        <div class="col-xs-6">
            <center>
                <button type="button" class="btn btn-default soundboard-button" onclick="switchInput('HDMIIn')">
                  HDMI In
              </button>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <center>
                <button type="button" class="btn btn-default soundboard-button" onclick="powerOff()">
                  Power Off
              </button>
            </center>
        </div>
        <div class="col-xs-6">
            <center>
                <button type="button" class="btn btn-default soundboard-button" onclick="switchInput('AppleTV')">
                  Apple TV
              </button>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <center>
                <button type="button" class="btn btn-default soundboard-button" onclick="blankDisplay()">
                  Blank
              </button>
            </center>
        </div>
    </div>
</div>

{{end}}
