<div class="base">
  <div class="top-bar">
    <!-- <span class="go-back">< Back</span> -->
    <span class="title">{{roomID}}</span>
    <!-- <span class="fill-remaining-space">_</span> -->
  </div>
  <!-- <div class="row">
    <ng-container *ngFor="let io of uiConfig?.inputConfiguration">
      <io-button [io]="io" [selected]="selectedInput === io" [click]="selectInput" [press]="selectInput"
        class="io-button"></io-button>
    </ng-container>

  </div> -->
  <div class="bottom-bar">
    <app-footer></app-footer>
  </div>
  <div class="slider-container">
    <volume-slider></volume-slider>
    <volume-slider></volume-slider>
    <volume-slider></volume-slider>
    <volume-slider></volume-slider>
    <volume-slider></volume-slider>
    <volume-slider></volume-slider>
    <volume-slider></volume-slider>
  </div>
</div>