.base {
  display: flex;
  flex-flow: column nowrap;
  width: 96vw;
  height: 88vh;
  align-items: center;
}

.top-bar {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 7vh;
  background-color: #e6e6e6;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
}

.go-back {
  // justify-self: flex-start;
  color: #1e88e5;
}

.title {
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}

.fill-remaining-space {
  flex: 0 1 auto;
}

.row {
  display: flex;
  flex-flow: row wrap;
  width: 95%;
  justify-content: space-between;
  margin-left: 6vw;
  margin-right: 6vw;
  margin-top: 2vh;
  overflow: hidden;
}

.slider-container {
  width: 90%;
}
