<div class="display-container">
    <div class="inputs-outputs-container">
        <div class="outputs-container">

            <div class="output">
                <div class="output-title">
                    Projector
                </div>
                <img src="assets/projector.svg" alt="Projector" class="output-image">
            </div>
            <div class="output">
                <div class="output-title">
                    Clevertouch
                </div>
                <img src="assets/projector.svg" alt="Projector" class="output-image">
            </div>
        </div>

        <div class="inputs-container">
            <div class="input">
                <img src="assets/blank.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    Blank
                </div>
            </div>
            <div class="input">
                <img src="assets/pc.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    PC 1
                </div>
            </div>
            <div class="input">
                <img src="assets/screen_share.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    Screen Share With A Really Long Name
                </div>
            </div>
            <div class="input">
                <img src="assets/hdmi.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    HDMI 1
                </div>
            </div>
            <div class="input">
                <img src="assets/screen_share.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    Screen Share
                </div>
            </div>
            <div class="input">
                <img src="assets/hdmi.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    HDMI Number 1
                </div>
            </div>
            <div class="input">
                <img src="assets/hdmi.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    HDMI 2
                </div>
            </div>

        </div>
        <div class="inputs-container">
            <div class="input">
                <img src="assets/blank.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    Blank
                </div>
            </div>
            <div class="input">
                <img src="assets/pc.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    PC 1
                </div>
            </div>
            
            <div class="input">
                <img src="assets/screen_share.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    Screen Share
                </div>
            </div>
            <div class="input">
                <img src="assets/hdmi.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    HDMI 1
                </div>
            </div>
            <div class="input">
                <img src="assets/hdmi.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    HDMI 2
                </div>
            </div>
            <div class="input">
                <img src="assets/hdmi.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    HDMI 2
                </div>
            </div>
            <div class="input">
                <img src="assets/hdmi.svg" alt="HDMI Input" class="input-image">
                <div class="input-title">
                    HDMI 2
                </div>
            </div>

        </div>
        <div class="recording-container">
            <img class="record-btn" src="assets/record_button.svg" alt="Record">
            <p class="recording-text">Record</p>
        </div>
    </div>
    <div class="volume-control-container">
        
    </div>
</div>