.display-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.inputs-outputs-container {
    background-color: var(--background-color);
    width: 85%;
    height: 100%;
    box-sizing: border-box;
}

.outputs-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 35%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.output {
    background-color: var(--background-color);
    border-radius: 5px;
    width: 125px;
    height: 125px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

.output img {
    width: 60px;
    height: 60px;
}

.inputs-container {
    background-color: var(--background-color);
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input {
    background-color: var(--background-color);
    border-radius: 5px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    gap: 10px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.input img {
    width: 40px;
    height: 40px;
}

.volume-control-container {
    display: flex;
    height: 100%;
    width: 15%;
}

.recording-container {
    height: 15%;
    width: 100%;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    box-sizing: border-box;
}

.record-btn {
    height: 100%;
    max-height: 70px;
}

.recording-text {
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--font-name);
    margin-left: 10px;
}


