<!-- no audiodevices -->
<ng-container *ngIf="false">
  <div mat-dialog-content class="text">i have nothing to say</div>
</ng-container>

<!-- audiodevices are present -->
<ng-container *ngIf="true">
  <h1 mat-dialog-title class="text title">Audio Control</h1>

  <div mat-dialog-content class="content">
    <button
      class="button"
      color="accent"
      mat-raised-button
      (click)="pageLeft()"
      [disabled]="!canPageLeft()"
    >
      <mat-icon style="transform: rotate(270deg)">arrow_drop_up</mat-icon>
    </button>

    <div class="mixers">
      <div class="sliders">
        <div
          *ngFor="let a of devices; let i = index"
          [id]="'device' + i"
          class="slider-container"
        >
          <span class="text label">{{ a?.displayname }}</span>

          <volume
            class="slider"
            [level]="a?.volume"
            [mute]="a?.muted"
            (levelChange)="command.setVolume($event, [a])"
            (muteChange)="command.setMute($event, [a])"
          >
          </volume>
        </div>

        <!-- two fake 'sliders' for scrolling -->
        <div [id]="'device' + devices?.length" class="slider-container"></div>
        <div
          [id]="'device' + (devices?.length + 1)"
          class="slider-container"
        ></div>
      </div>

      <div class="page-indicator">
        <span
          *ngFor="let i of pages"
          class="dot"
          [class.selected]="i === curPage"
        ></span>
      </div>
    </div>

    <button
      class="button"
      color="accent"
      mat-raised-button
      (click)="pageRight()"
      [disabled]="!canPageRight()"
    >
      <mat-icon style="transform: rotate(270deg)">arrow_drop_down</mat-icon>
    </button>

    <div class="master slider-container">
      <span class="text label"
        >Display Volume
        {{
          (preset?.displays)[0]?.input
            ? "(" + (preset?.displays)[0]?.input?.name + ")"
            : ""
        }}</span
      >
      <volume
        class="slider"
        [level]="getDisplayVolume()"
        [mute]="getDisplayMute()"
        (levelChange)="command.setVolume($event, preset?.audioDevices)"
        (muteChange)="command.setMute($event, preset?.audioDevices)"
      >
      </volume>
    </div>
  </div>
</ng-container>
