$max-width: 80vw;
$master-width: 17vw;
$button-width: 5vw;

.text {
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.3em;

  &.title {
    font-size: 1.7em;
  }
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// to space things correctly
activity-button {
  margin-left: 8px;
}

.content {
  height: 70vh;
  max-height: 70vh;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  padding: 0;
  overflow: hidden;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 17vw;
  flex: 0 0 auto;

  .label {
    font-size: 1.1em;
    word-wrap: break-word;
  }

  .slider {
    height: 61vh;
  }
}

.master {
  height: 100%;
  width: $master-width;

  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7) 20%,
      rgba(0, 0, 0, 0.7) 80%,
      rgba(0, 0, 0, 0)
    );

    right: $master-width + 4.5vw;
    top: 30%;

    width: 0.4vw;
    height: 50vh;

    // content: "";
  }
}

.mixers {
  height: 100%;
  width: $max-width - $master-width - (2 * $button-width);

  display: flex;
  flex-direction: column;
  align-items: center;

  $sliders-height: 95%;

  .sliders {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;

    height: $sliders-height;
    width: 100%;

    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .page-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    height: 100% - $sliders-height;
    width: 100%;

    .dot {
      height: 0.5em;
      width: 0.5em;
      margin-right: 0.35em;
      background-color: #8b8b8b;
      border-radius: 50%;
      display: inline-block;

      &.selected {
        background-color: #f6f6f6;
      }
    }
  }
}

.button {
  height: 70%;
  min-width: $button-width;
  width: $button-width;

  display: flex;
  justify-content: center;
  align-items: center;
}
