@use '@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';

@import 'material-design-icons-iconfont/src/material-design-icons';

@import './app/cherry.theme.scss';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600&display=swap');


@include mat.core();

html {
    overflow: hidden;
    user-select: none;

    font-family: "Source Sans 3", sans-serif;
    letter-spacing: 0.1px;
}

.mat-dialog-container {
    //background-color: mat.mat-color($primary, darker) !important;
    background-color: mat.get-color-from-palette($primary, darker) !important;
}

/*
.mat-button {
    font-family: 'Source Sans Pro', sans-serif !important;
}
*/
