/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@include mat.core();

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';

@import 'material-design-icons-iconfont/src/material-design-icons';

@import 'app/custom-theme.scss';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600&display=swap');




:root {
    --background-color: #263238;
    --top-bar-color: rgb(68, 26, 26);
    --background-color-accent:rgb(0, 106, 206);
    --dpad-color: rgb(80, 55, 55);
    --dpad-press: rgb(95, 80, 80);
    --cam-preset-color:rgb(5, 90, 146);
    --cam-preset-press: red;
    --volume-slider-color:rgb(0, 204, 255);
    --help-button-color: rgb(255, 0, 234);
    --text-color: white;
    --font-name: 'Source Sans 3', sans-serif;
}

html {
    overflow: hidden;
    user-select: none;
    font-family: var(--font-name);
    letter-spacing: 0.1px;
}

.mat-dialog-container {
    //background-color: mat.mat-color($primary, darker) !important;
    background-color: mat.get-color-from-palette($cherry-primary, darker) !important;
}
/*
.mat-button {
    font-family: 'Source Sans Pro', sans-serif !important;
}
*/

html {
    overflow: hidden;
    user-select: none;

    font-family: var(--font-name);
    letter-spacing: 0.1px;
}
body { 
    margin: 0;
    font-family: var(--font-name);
}

.mdc-button__label {
    font-family: var(--font-name) !important;
}

html, body { 
    height: 100%; 
    color: black !important;
}

body { margin: 0; font-family: var(--font-name); }
