<div class="container primary-background" [class.show]="_show">

<!-- <mat-progress-bar
  *ngIf="command.commandInProgress"
  [mode]="'indeterminate'"
  color="primary"
></mat-progress-bar> -->
<button mat-raised-button
  color="primary"
  class="power"
  (click)="hide()"
  (press)="hide()">
  BACK
</button>
<mat-tab-group
  #tabs
  color="accent"
  class="mat-tab-label-darker"
  (selectedTabChange)="
    command.buttonPress('changed audio control tab to ' + $event.tab.textLabel)
  "
>
  <ng-container *ngIf="preset?.displays?.length > 0">
    <mat-tab label="Displays">
      <!-- <div class="stretch"> -->

      <!-- master slider -->
      <div class="master">
        <div class="device">
          <span class="volume-label">Master Display Volume</span>
          <!-- <i class="material-icons blank">speaker_group</i> -->
          <volume
            class="volume"
            [level]="preset?.masterVolume"
            [mute]="preset?.masterVolume === 0 || preset?.masterMute"
            (levelChange)="onMasterVolumeLevelChange($event, preset)"
            (muteChange)="
              command.setMasterMute($event.muted, preset);
              command.buttonPress(
                'master volume ' + ($event.muted ? 'mute' : 'unmute')
              )
            "
          >
          </volume>
        </div>
      </div>

      <!-- If there aren't enough to make 2 pages -->
      <div class="devices less " *ngIf="preset?.audioDevices.length <= 3">
        <div
          *ngFor="let a of preset?.audioDevices; let i = index"
          class="device display "
          [id]="'display' + i"
        >
          <span class="volume-label ">{{ a.displayname }}</span>
          <!-- <span class="volume-label " *ngIf="a.input?.displayname.length> 0">({{a.input?.displayname}})</span> -->
          <i class="material-icons">{{ a.icon }}</i>
          <volume
            class="volume display"
            [level]="a?.mixlevel"
            [mute]="a?.mixmute"
            (levelChange)="
              command.setMixLevel($event, a, preset);
              command.setMixMute(false, a, preset);
              command.buttonPress('mix level set', {
                level: $event,
                audioDevices: [a?.name]
              })
            "
            (muteChange)="
              command.setMixMute($event.muted, a, preset);
              command.buttonPress(
                'mix level ' + ($event.level === 0 ? 'mute' : 'unmute'),
                a?.name
              )
            "
          >
          </volume>
        </div>
      </div>

      <div class="devices displays" *ngIf="preset?.audioDevices.length > 3">
        <div
          class="button left display"
          (click)="pageDispLeft()"
          [class.blank]="!canPageDispLeft() || preset?.audioDevices.length <= 3"
        >
          <mat-icon style="transform: scale(3)">keyboard_arrow_left</mat-icon>
        </div>
        <div class="mixers displays">
          <div class="sliders" [class.less]="preset?.audioDevices.length <= 3">
            <div
              *ngFor="let a of preset?.audioDevices; let i = index"
              class="device display"
              [id]="'display' + i"
            >
              <span>{{ a.displayname }}</span>
              <i class="material-icons">{{ a.icon }}</i>
              <volume
                class="volume display"
                [level]="a?.mixlevel"
                [mute]="a?.mixmute"
                (levelChange)="
                  command.setMixLevel($event, a, preset);
                  command.setMixMute(false, a, preset);
                  command.buttonPress('mix level set', {
                    level: $event,
                    audioDevices: [a?.name]
                  })
                "
                (muteChange)="
                  command.setMixMute($event.muted, a, preset);
                  command.buttonPress(
                    'mix level ' + ($event.level === 0 ? 'mute' : 'unmute'),
                    a?.name
                  )
                "
              >
              </volume>
            </div>
            <div
              [id]="'display' + preset?.audioDevices.length"
              class="slider-container"
            >
              <div class="volume display"></div>
            </div>
            <div
              [id]="'display' + (preset?.audioDevices.length + 1)"
              class="slider-container"
            >
              <div class="volume display"></div>
            </div>
            <div
              [id]="'display' + (preset?.audioDevices.length + 2)"
              class="slider-container"
            >
              <div class="volume display"></div>
            </div>
            <div
              [id]="'display' + (preset?.audioDevices.length + 3)"
              class="slider-container"
            >
              <div class="volume display"></div>
            </div>
          </div>
          <div
            class="page-indicator"
            *ngIf="preset != null"
            [class.blank]="preset?.audioDevices.length <= 3"
          >
            <span
              *ngFor="let i of displayPages"
              class="dot"
              [class.selected]="i === curDisplayPage"
            ></span>
          </div>
        </div>

        <div
          class="button right"
          (click)="pageDispRight()"
          [class.blank]="!canPageDispRight() || preset.audioDevices.length <= 3"
        >
          <mat-icon style="transform: scale(3)">keyboard_arrow_right</mat-icon>
        </div>
      </div>

      <!-- </div> -->
    </mat-tab>
  </ng-container>

  <ng-container *ngIf="preset?.independentAudioDevices?.length > 0">
    <mat-tab label="Microphones">
      <!-- If there aren't enough to make 2 pages -->
      <div
        class="devices less"
        *ngIf="preset?.independentAudioDevices.length <= 4"
      >
        <div
          *ngFor="let a of preset?.independentAudioDevices; let i = index"
          class="device slider-container"
          [id]="'device' + i"
        >
          <span class="volume-label">{{ a.displayname }}</span>
          <i class="material-icons">{{ a.icon }}</i>
          <volume
            class="volume"
            [level]="a?.volume"
            [mute]="a?.muted"
            (levelChange)="
              command.setVolume($event, [a]);
              command.setMute(false, [a]);
              command.buttonPress('independent audio volume set', {
                level: $event,
                audioDevices: [a?.name]
              })
            "
            (muteChange)="
              command.setMute($event.muted, [a]);
              command.buttonPress(
                'independent audio ' + ($event.muted ? 'mute' : 'unmute'),
                a?.name
              )
            "
          >
          </volume>
        </div>
      </div>

      <div class="devices" *ngIf="preset?.independentAudioDevices.length > 4">
        <div
          class="button left"
          (click)="pageLeft()"
          [class.blank]="
            !canPageLeft() || preset.independentAudioDevices.length <= 4
          "
        >
          <mat-icon style="transform: scale(3)">keyboard_arrow_left</mat-icon>
        </div>
        <div class="mixers">
          <div class="sliders">
            <div
              *ngFor="let a of preset?.independentAudioDevices; let i = index"
              class="device slider-container"
              [id]="'device' + i"
            >
              <span class="volume-label">{{ a.displayname }}</span>
              <i class="material-icons">{{ a.icon }}</i>
              <volume
                class="volume"
                [level]="a?.volume"
                [mute]="a?.muted"
                (levelChange)="
                  command.setVolume($event, [a]);
                  command.setMute(false, [a]);
                  command.buttonPress('independent audio volume set', {
                    level: $event,
                    audioDevices: [a?.name]
                  })
                "
                (muteChange)="
                  command.setMute($event.muted, [a]);
                  command.buttonPress(
                    'independent audio ' + ($event.muted ? 'mute' : 'unmute'),
                    a?.name
                  )
                "
              >
              </volume>
            </div>
            <div
              [id]="'device' + preset?.independentAudioDevices.length"
              class="slider-container"
            >
              <div class="volume"></div>
            </div>
            <div
              [id]="'device' + (preset?.independentAudioDevices.length + 1)"
              class="slider-container"
            >
              <div class="volume"></div>
            </div>
            <div
              [id]="'device' + (preset?.independentAudioDevices.length + 2)"
              class="slider-container"
            >
              <div class="volume"></div>
            </div>
            <!-- <div [id]="'device' + (preset?.independentAudioDevices.length + 3)" class="slider-container">
                        <div class="volume"></div>
                    </div> -->
          </div>
          <div
            class="page-indicator"
            *ngIf="preset != null"
            [class.blank]="preset?.independentAudioDevices.length <= 4"
          >
            <span
              *ngFor="let i of pages"
              class="dot"
              [class.selected]="i === curPage"
            ></span>
          </div>
        </div>

        <div
          class="button right"
          (click)="pageRight()"
          [class.blank]="
            !canPageRight() || preset.independentAudioDevices.length <= 4
          "
        >
          <mat-icon style="transform: scale(3)">keyboard_arrow_right</mat-icon>
        </div>
      </div>
    </mat-tab>
  </ng-container>

  <ng-container *ngIf="audioTypes?.length > 0">
    <mat-tab *ngFor="let label of audioTypes" [label]="label">
      <!-- If there aren't enough to make 2 pages -->
      <div
        class="devices less"
        *ngIf="preset?.audioTypes.get(label).length <= 4"
      >
        <div
          *ngFor="let a of preset?.audioTypes.get(label); let i = index"
          class="device slider-container"
          [id]="label + i"
        >
          <span class="volume-label">{{ a.displayname }}</span>
          <i class="material-icons">{{ a.icon }}</i>
          <volume
            class="volume"
            [level]="a?.volume"
            [mute]="a?.muted"
            (levelChange)="
              command.setVolume($event, [a]);
              command.setMute(false, [a]);
              command.buttonPress('independent audio volume set', {
                level: $event,
                audioDevices: [a?.name]
              })
            "
            (muteChange)="
              command.setMute($event.muted, [a]);
              command.buttonPress(
                'independent audio ' + ($event.muted ? 'mute' : 'unmute'),
                a?.name
              )
            "
          >
          </volume>
        </div>
      </div>

      <div class="devices" *ngIf="preset?.audioTypes.get(label).length > 4">
        <div
          class="button left"
          (click)="groupPageLeft(label)"
          [class.blank]="
            !groupCanPageLeft(label) || preset.audioTypes.get(label).length <= 4
          "
        >
          <mat-icon style="transform: scale(3)">keyboard_arrow_left</mat-icon>
        </div>
        <div class="mixers">
          <div class="sliders">
            <div
              *ngFor="let a of preset?.audioTypes.get(label); let i = index"
              class="device slider-container"
              [id]="label + i"
            >
              <span class="volume-label">{{ a.displayname }}</span>
              <i class="material-icons">{{ a.icon }}</i>
              <volume
                class="volume"
                [level]="a?.volume"
                [mute]="a?.muted"
                (levelChange)="
                  command.setVolume($event, [a]);
                  command.setMute(false, [a]);
                  command.buttonPress('independent audio volume set', {
                    level: $event,
                    audioDevices: [a?.name]
                  })
                "
                (muteChange)="
                  command.setMute($event.muted, [a]);
                  command.buttonPress(
                    'independent audio ' + ($event.muted ? 'mute' : 'unmute'),
                    a?.name
                  )
                "
              >
              </volume>
            </div>
            <div
              [id]="'device' + preset?.audioTypes.get(label).length"
              class="slider-container"
            >
              <div class="volume"></div>
            </div>
            <div
              [id]="'device' + (preset?.audioTypes.get(label).length + 1)"
              class="slider-container"
            >
              <div class="volume"></div>
            </div>
            <div
              [id]="'device' + (preset?.audioTypes.get(label).length + 2)"
              class="slider-container"
            >
              <div class="volume"></div>
            </div>
            <div
              [id]="'device' + (preset?.audioTypes.get(label).length + 3)"
              class="slider-container"
            >
              <div class="volume"></div>
            </div>
          </div>
          <div
            class="page-indicator"
            *ngIf="preset != null"
            [class.blank]="preset?.audioTypes.get(label).length <= 4"
          >
            <span
              *ngFor="let i of groupPages.get(label)"
              class="dot"
              [class.selected]="i === groupCurPage.get(label)"
            ></span>
          </div>
        </div>

        <div
          class="button right"
          (click)="groupPageRight(label)"
          [class.blank]="
            !groupCanPageRight(label) ||
            preset.audioTypes.get(label).length <= 4
          "
        >
          <mat-icon style="transform: scale(3)">keyboard_arrow_right</mat-icon>
        </div>
      </div>
    </mat-tab>
  </ng-container>
  
</mat-tab-group>
<mat-progress-bar
  *ngIf="command.commandInProgress"
  [mode]="'indeterminate'"
  color="primary"
></mat-progress-bar>
</div>