$slider-height: 80%;
.volume {
  height: 100%;
  width: 100%;
  min-height: 100% !important;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.slider {
  min-height: $slider-height !important;
  margin-top: 15px;
  margin-bottom: 20px;
}

.mute {
  margin-top: 3vh;
}

::ng-deep .mat-slider .mat-slider-thumb {
  width: 50px;
  height: 50px;
  right: -25px;
  bottom: -25px;
}

::ng-deep .mat-slider.mat-slider-vertical .mat-slider-track-wrapper {
  width: 10px;
  left: -4px;
  border-radius: 10px;
}

::ng-deep .mat-slider.mat-slider-vertical .mat-slider-track-background {
  width: 100%;
}

::ng-deep .mat-slider.mat-slider-vertical .mat-slider-track-fill {
  width: 100%;
}

// customize ngx-slider

:ng-deep .ngx-slider .ngx-slider-pointer {
  background-color: #0091ea !important;
}

::ng-deep .ngx-slider .ngx-slider-selection {
  background: #0091ea !important;
}

::ng-deep .ngx-slider .ngx-slider-limit {
  display: none !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer::after {
  display: none !important;
  background: #0091ea !important;
}

// volume tags
::ng-deep .ngx-slider .ngx-slider-bubble {
  margin-left: 0.3vh;
  align-self: center;
}
