<div class="volume">
    <!-- volume slider -->
    <ngx-slider class="slider" color="primary"
      [options]="options"
      [(value)]="muted ? beforeMuteLevel : level"
      (userChange)="onUserChange($event.value); closeThumb()"
    >
    </ngx-slider>
    <!-- mute button -->
    <div [class.secondary-theme]="!muted">
        <button mat-raised-button [color]="mute ? 'warn' : 'primary'" (click)="muteClick()" (press)="muteClick()" class="button" [class.muted]="muted">
      <ng-container *ngIf="!muted">Mute</ng-container>
      <ng-container *ngIf="muted">Unmute</ng-container>
    </button>
    </div>
</div>