<div class="volume">
    <!-- volume slider -->
    <!-- <mat-slider
      class="slider"
      color="primary"
      [max]="100"
      [min]="0"
      [step]="5"
      [discrete]="false"
      [showTickMarks]="false"
      vertical="true"
      (change)="levelChange.emit($event.value); closeThumb()">
      <input matSliderThumb type="range" (blur)="closeThumb()" [value]="level" />
    </mat-slider> -->
    <ngx-slider class="slider" color="primary"
      [options]="options"
      [(value)]="level"
      (userChangeEnd)="levelChange.emit($event.value); closeThumb()"
    >
    </ngx-slider>
    <!-- mute button -->
    <div [class.secondary-theme]="!mute">
        <button mat-raised-button [color]="mute ? 'warn' : 'primary'" (click)="muteClick()" (press)="muteClick()" class="button" [class.muted]="mute">
      <ng-container *ngIf="!mute">Mute</ng-container>
      <ng-container *ngIf="mute">Unmute</ng-container>
    </button>
    </div>
</div>