$slider-height: 80%;
.volume {
  height: 100%;
  width: 100%;
  min-height: 100% !important;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.slider {
  min-height: $slider-height !important;
  margin-top: 15px;
  margin-bottom: 20px;
}

.mute {
  margin-top: 3vh;
}

// customize ngx-slider

:ng-deep .ngx-slider {
  height: $slider-height;
}

.ngx-slider.vertical {
  height: $slider-height;
}

:ng-deep .ngx-slider.vertical {
  height: $slider-height;
}

:ng-deep .ngx-slider .ngx-slider-pointer {
  background-color: #0091ea !important;
}

::ng-deep .ngx-slider .ngx-slider-selection {
  background: #0091ea !important;
}

::ng-deep .ngx-slider .ngx-slider-limit {
  display: none !important;
}

::ng-deep .ngx-slider .ngx-slider-pointer::after {
  display: none !important;
  background: #0091ea !important;
}

// volume tags
::ng-deep .ngx-slider .ngx-slider-bubble {
  margin-left: 0.3vh;
  align-self: center;
}
