<div class="base mat-app-background">
    <!-- management pattern -->
    <management [enabled]="isPoweredOff()"></management>

    <ng-container *ngIf="loaded; else loading">
        <div *ngIf="isPoweredOff(); else home" class="lock" (click)="unlock(); command.buttonPress('power on')" (press)="unlock(); command.buttonPress('long press power on')">
            <ng-container *ngIf="!unlocking; else poweringOn">
                <!-- byu logo -->
                <object type="image/svg+xml" data="./assets/byu_medallion_white.svg" class="logo">
                </object>

                <!-- unlock text -->
                <span class="text">Touch anywhere to start</span>
                <div class="unlock-code">
                    <div> Control Key:</div>
                    <div> {{controlKey}} </div>
                </div>
            </ng-container>

            <ng-template #poweringOn>
                <div class="logo">
                    <mat-spinner color="accent"></mat-spinner>
                </div>
                <span class="text smaller">powering on, please wait...</span>
            </ng-template>
        </div>
    </ng-container>

    <ng-template #home>
        <ng-container *ngIf="data?.panel?.preset?.displays?.length > 0">
            <button mat-raised-button color="warn" class="power" (click)="powerOff(); command.buttonPress('power off')" (press)="powerOff(); command.buttonPress('long press power off')">
        Power Off
      </button>
        </ng-container>

        <div class="secondary-theme">
            <button mat-raised-button class="help" color="accent" (click)="openHelpDialog(); command.buttonPress('open help modal')" (press)="
          openHelpDialog(); command.buttonPress('long press open help modal')
        ">
        Help
      </button>
        </div>

        <!-- home screen if there are displays -->
        <ng-container *ngIf="data?.panel?.preset?.displays?.length > 0">
            <mat-tab-group backgroundColor="primary" color="accent" [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="
          command.buttonPress('tab changed to ' + $event.tab.textLabel)
        ">
                <mat-tab label="Display">
                    <!-- display component -->
                    <display [preset]="data?.panel?.preset"> </display>
                </mat-tab>

                <mat-tab label="Audio Control">
                    <!-- audio control -->
                    <!-- requires weird trick (*ngIf) to make animations work when the tab is opened -->
                    <audiocontrol *ngIf="selectedTabIndex == 1" [@delay] [preset]="data?.panel?.preset" [audioGroups]="!data?.panel?.features?.includes('no-audio-groups')">
                    </audiocontrol>
                </mat-tab>

                <ng-container *ngIf="data?.panel?.preset?.screens?.length > 0">
                    <mat-tab label="Projector Control">
                        <!-- projector control -->
                        <projector-control [@delay] [preset]="data?.panel?.preset">
                        </projector-control>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </ng-container>

        <!-- if there are no displays -->
        <ng-container>
            <mat-tab-group backgroundColor="primary" color="accent">
                <mat-tab label="Audio Control">
                    <!-- audio control -->
                    <audiocontrol [preset]="data?.panel?.preset" [audioGroups]="!data?.panel?.features?.includes('no-audio-groups')">
                    </audiocontrol>
                </mat-tab>

                <ng-container *ngIf="data?.panel?.preset?.screens?.length > 0">
                    <mat-tab label="Projector Control">
                        <!-- projector control -->
                        <projector-control [@delay] [preset]="data?.panel?.preset">
                        </projector-control>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </ng-container>
    </ng-template>

    <ng-template #loading>
        <management></management>

        <div class="loading">
            <mat-spinner color="accent"></mat-spinner>
            <span style="font-family: Roboto, 'Helvetica Neue', sans-serif;">loading, please wait</span>
        </div>
    </ng-template>
</div>
