// center the tab labels
@use '@angular/material' as mat;
@use 'sass:math';

@include mat.core();

@import '../cherry-theme.scss';
@import '../../styles.scss';
$byu-logo-color: #bec2ba;

.mat-tab-labels {
    justify-content: center;
}

// make sure no sliders show up
.mat-tab-body-content {
    overflow: hidden !important;
}

$buttonXOffset: .55rem;

.mat-tab-group {
    height: 100%;
}

.mat-slider {
    .mat-slider-thumb {
        // default size of thumb
        $size: 30px;

        width: $size;
        height: $size;
        right: math.div($size, -2);
        bottom: math.div($size, -2);
    }

    &.cdk-focused {
        .mat-slider-thumb-label {
            // how much thumb grows on click
            transform: rotate(-45deg) scale(2) translate(-7.5px, -7.5px) !important;
        }
    }
}

.base {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lock {
    z-index: 1000;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    * {
        pointer-events: none;
    }

    .progress {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .logo {
        height: 70vh;
        width: 70vh;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
        margin-top: 3%;
        font-size: 150%;
        color: $byu-logo-color;

        &.smaller {
            transform: scale(.75);
        }
    }
}

%button {
    z-index: 1000;
    position: absolute !important;
}

%top-button {
    top: .35rem;
}

.power {
    @extend %button;
    @extend %top-button;

    left: $buttonXOffset;
    background-color: warn;
}

.help {
    @extend %button;
    @extend %top-button;

    right: $buttonXOffset;
}

.loading {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.buttons {
    position: absolute;
    margin-left: 3vw;

    .button {
        margin-right: 3vw;
        width: 8vw;
        height: 8vw;
        .mat-icon {
            margin-top: -1.1vh;
            font-size: 5vw;
            height: 5vw;
            width: 5vw;
            color: mat.get-color-from-palette($cherry-primary, darker);
        }
    }

    &.bottom {
        bottom: 3.9vh;

        &.corner {
            margin-right: 0vw;
            right: 0vw;
        }
    }
}

.independentAudio {
    z-index: 2000;
    margin-right: 0;
}

.mat-audio-button {
    background-color: $byu-logo-color;
}