<audiocontrol #audio class="audio"></audiocontrol>
<lock-screen-screen-control #screen class="audio"></lock-screen-screen-control>
<lock-screen-audio #lockaudio class="audio"></lock-screen-audio>


<div class="base mat-app-background">
    <!-- management pattern -->
    <management [enabled]="showManagement()"></management>

    <ng-container *ngIf="loaded; else loading">
        <div *ngIf="isPoweredOff(); else home" class="lock">
            <ng-container *ngIf="!unlocking; else poweringOn">
                <!-- byu logo -->
                <object type="image/svg+xml" data="./assets/byu_medallion_white.svg" class="logo">
                </object>

                <!-- unlock button -->
                <div class="text">
                    <button mat-stroked-button
                    class="lock-screen-button start-button"
                    (click)="unlock(); command.buttonPress('power on')" 
                    (press)="unlock(); command.buttonPress('long press power on')">
                    Start
                    </button>
                </div>

                <!-- screen/audio/mobile control buttons -->
                <div class="optional-buttons">
                    <!-- Screen Control -->
                    <ng-container *ngIf="data?.panel?.preset?.screens?.length > 0">
                        <button mat-stroked-button class="lock-screen-button screen-button"
                        (click)="screen.show(data?.panel?.preset); command.buttonPress('open screen control modal')"
                        (press)="screen.show(data?.panel?.preset); command.buttonPress('long press open screen control modal')">
                            <mat-icon class="screen-control-icon">unfold_more</mat-icon>
                            <div class="button-text">Screen Control</div>
                        </button>
                    </ng-container>

                    <!-- Mobile Control -->
                    <ng-container *ngIf="data.controlKey">
                        <button mat-stroked-button
                        class="lock-screen-button mobile-control"
                        (click)="openMobileControlDialog(); command.buttonPress('open mobile control modal')"
                        (press)="openMobileControlDialog(); command.buttonPress('long press open mobile control modal')">
                        <mat-icon class="screen-control-icon">phone_iphone</mat-icon>
                        <div class="button-text">Key: {{data.controlKey}}</div>
                        </button>
                    </ng-container>
    
                    <!-- Audio Control -->
                    <ng-container *ngIf="data?.panel?.preset?.audioDevices?.length > 0">
                        <button mat-stroked-button class="lock-screen-button audio-button"
                        (click)="lockaudio.show(data?.panel?.preset); command.buttonPress('open audio control modal')"
                        (press)="lockaudio.show(data?.panel?.preset); command.buttonPress('long press open audio control modal')">
                            <mat-icon class="rotate-90">tune</mat-icon>
                            <div class="button-text">Audio Control</div>
                        </button>
                    </ng-container>
                </div>
            </ng-container>

            <ng-template #poweringOn>
                <div class="logo">
                    <mat-spinner color="accent"></mat-spinner>
                </div>
                <span class="text smaller">powering on, please wait...</span>
            </ng-template>
        </div>
    </ng-container>

    <ng-template #home>
        <ng-container *ngIf="data?.panel?.preset?.displays?.length > 0">
            <button mat-raised-button color="warn" class="power" (click)="powerOff(); command.buttonPress('power off')" (press)="powerOff(); command.buttonPress('long press power off')">
                Power Off
            </button>
        </ng-container>

        <div class="secondary-theme">
            <button mat-raised-button class="help" color="accent" (click)="openHelpDialog(); command.buttonPress('open help modal')" (press)="
          openHelpDialog(); command.buttonPress('long press open help modal')
        ">
        Help
      </button>
        </div>

        <!-- home screen if there are displays -->
        <ng-container *ngIf="data?.panel?.preset?.displays?.length > 0">
            <mat-tab-group backgroundColor="primary" color="accent" [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="
          command.buttonPress('tab changed to ' + $event.tab.textLabel)
        ">
                <mat-tab label="Display">
                    <!-- display component -->
                    <display [preset]="data?.panel?.preset"> </display>
                </mat-tab>

                <mat-tab label="Audio Control">
                    <!-- audio control -->
                    <!-- requires weird trick (*ngIf) to make animations work when the tab is opened -->
                    <audiocontrol *ngIf="selectedTabIndex == 1" [@delay] [preset]="data?.panel?.preset" [audioGroups]="!data?.panel?.features?.includes('no-audio-groups')">
                    </audiocontrol>
                </mat-tab>

                <ng-container *ngIf="data?.panel?.preset?.screens?.length > 0">
                    <mat-tab label="Screen Control">
                        <!-- projector control -->
                        <projector-control [@delay] [preset]="data?.panel?.preset">
                        </projector-control>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </ng-container>

        <!-- if there are no displays -->
        <ng-container>
            <mat-tab-group backgroundColor="primary" color="accent">
                <mat-tab label="Audio Control">
                    <!-- audio control -->
                    <audiocontrol [preset]="data?.panel?.preset" [audioGroups]="!data?.panel?.features?.includes('no-audio-groups')">
                    </audiocontrol>
                </mat-tab>

                <ng-container *ngIf="data?.panel?.preset?.screens?.length > 0">
                    <mat-tab label="Projector Control">
                        <!-- projector control -->
                        <projector-control [@delay] [preset]="data?.panel?.preset">
                        </projector-control>
                    </mat-tab>
                </ng-container>
            </mat-tab-group>
        </ng-container>
    </ng-template>

    <ng-template #loading>
        <management></management>

        <div class="loading">
            <mat-spinner color="accent"></mat-spinner>
            <span style="font-family: Roboto, 'Helvetica Neue', sans-serif;">loading, please wait</span>
        </div>
    </ng-template>
</div>
