// center the tab labels
.mat-tab-labels {
    justify-content: center;
}

/* make overflowing the tab possible
.mat-tab-body-wrapper {
    overflow: visible !important;
}

.mat-tab-body {
    overflow: visible !important;

    &.mat-tab-body-active {
        overflow-y: visible !important;
        overflow-x: visible !important;
    }
}
*/
