// center the tab labels
.mat-tab-labels {
    justify-content: center;
}

.lock {
    z-index: 1000;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* make overflowing the tab possible
.mat-tab-body-wrapper {
    overflow: visible !important;
}

.mat-tab-body {
    overflow: visible !important;

    &.mat-tab-body-active {
        overflow-y: visible !important;
        overflow-x: visible !important;
    }
}
*/
