
.audio-control-component {
    display: flex;
    flex-direction: row;
}

.audio-controls-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    box-sizing: border-box;
}

.audio-tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 60px;
    gap: 10px;
    color: var(--text-color);
}

.active-audio-tab {
    color: var(--background-color-accent);
    border-bottom: 2px solid var(--background-color-accent);
    border-radius: 0;
}

.audio-tab {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
}


.audio-controls {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.master-volume-container {
    width: 20%;
    height: 100%;
    display: flex;
    border-left: 2px solid var(--background-color-accent);
    border-radius: 300px;
}

.hidden {
    display: none !important;
}

.audio-controls-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}