<div class="audio-controls-container">
    <div class="audio-tabs-container">
        <div class="displays-tab audio-tab active-audio-tab">
            Displays
        </div>
        <div class="microphones-tab audio-tab">
            Microphones
        </div>
        
    </div>


    <div class="audio-controls">
        <div class="displays-audio-controls audio-controls-content">

        </div>
        <div class="microphones-audio-controls audio-controls-content hidden">

        </div>
    </div>
</div>

<div class="master-volume-container">

</div>