<div class="audio-controls-container">
    <div class="audio-tabs-container">
        <div class="displays-tab audio-tab active-audio-tab">
            Displays
        </div>
        <div class="microphones-tab audio-tab">
            Microphones
        </div>
    </div>


    <div class="audio-controls">
        <div class="displays-audio-controls-wrapper audio-controls-content-wrapper">
            <div class="arrow left-arrow hidden"><img class="carousel-arrow outputs-carousel-arrow-left" src="assets/arrow_left.svg" alt="Previous"></div>
            <div class="displays-audio-controls audio-controls-content paginated-container"></div>
            <img class=" arrow right-arrow hiddencarousel-arrow outputs-carousel-arrow-right" src="assets/arrow_right.svg" alt="Next">
        </div>

        <div class="microphones-audio-controls-wrapper audio-controls-content-wrapper hidden">
            <div class="arrow left-arrow hidden"><img class="carousel-arrow outputs-carousel-arrow-left" src="assets/arrow_left.svg" alt="Previous"></div>
            <div class="microphones-audio-controls audio-controls-content paginated-container"></div>
            <div class="arrow right-arrow hidden"><img class="carousel-arrow outputs-carousel-arrow-right" src="assets/arrow_right.svg" alt="Next"></div>
        </div>

    </div>
</div>

<div class="master-volume-container">

</div>