$header-height: 30px;
$footer-height: 75px;
$baseBGColor: #dbdbdb;
$baseTextColor: #999999;
.base {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.header {
    width: 100%;
    height: $header-height;
    background-color: $baseBGColor;
    padding: 5px;
}

$body-height: calc(100% - #{$header-height} - #{$footer-height} - 11px);
.body {
    width: 100%;
    max-height: $body-height;
    height: $body-height;
    // border: solid 1px red;
}

.footer {
    width: 100%;
    max-height: $footer-height;
    min-height: $footer-height;
    height: $footer-height;
    // border: solid 1px purple;
}

.tab-button {
    width: 25%;
    height: 100%;
    border-radius: 0px;
    font-size: 12pt;
    background-color: $baseBGColor;
    color: $baseTextColor;
    padding: 5px;
    &.selected {
        color: #1e88e5;
    }
}

.tab-icon {
    transform: scale(1.6);
}