$header-height: 5vh;
$footer-height: 16vh;
.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    &.header {
        background-color: #dbdbdb;
        height: $header-height;
        padding: 5px;
    }
    &.footer {
        background-color: #dbdbdb;
        color: #aaaaaa;
    }
    &.options {
        justify-content: space-evenly;
        padding-top: 20px;
    }
}

.room-title {
    // font-weight: bold;
    font-size: 14pt;
}

.empty-thing {
    width: 35%;
}

.footer-button {
    display: flex;
    flex-flow: column nowrap;
    height: $footer-height;
    justify-content: space-evenly;
    align-items: center;
    .icon {
        font-size: 24pt;
        padding-right: 8px;
    }
}

::ng-deep .mat-tab-label {
    min-height: 10vh !important;
    background-color: #dbdbdb;
    color: #aaaaaa;
}

::ng-deep .mat-tab-label-active {
    color: #2196f3
}

.main-body,
 ::ng-deep .mat-tab-body-content {
    // height: calc(100vh - #{$header-height} - #{$footer-height});
    height: 83.5vh;
    max-height: 83.5vh;
}

.base {
    max-height: 100%;
    overflow: hidden;
}