<div class="base">
    <div class="header">

    </div>
    <div class="body">
        <control-tab [tab]="selectedTab" [controlGroup]="controlGroup"></control-tab>
    </div>
    <div class="footer">
        <button mat-flat-button color="" class="tab-button" (click)="tabChange('Control')" [class.selected]="selectedTab === 'Control'" [disableRipple]=true><mat-icon class="tab-icon">filter_center_focus</mat-icon><br>Control</button>
        <button mat-flat-button color="" class="tab-button" (click)="tabChange('Audio')" [class.selected]="selectedTab === 'Audio'" [disableRipple]=true><mat-icon class="tab-icon">volume_up</mat-icon><br>Audio</button>
        <button mat-flat-button color="" class="tab-button" (click)="tabChange('Present')" [class.selected]="selectedTab === 'Present'" [disableRipple]=true><mat-icon class="tab-icon">present_to_all</mat-icon><br>Present</button>
        <button mat-flat-button color="" class="tab-button" (click)="tabChange('Help')" [class.selected]="selectedTab === 'Help'" [disableRipple]=true><mat-icon class="tab-icon">help</mat-icon><br>Help</button>
    </div>
</div>