@use 'sass:math';

$max-width: 90vw;
$volume-width: math.div($max-width, 8);
$outputs-height: 35vh;
$inputs-height: 40vh;
%align {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

%align-vert {
    @extend %align;
    flex-direction: column;
}

%align-horiz {
    @extend %align;
    flex-direction: row;
}

%io-row {
    @extend %align-horiz;
    position: relative;
    max-width: $max-width;
    margin-left: math.div(100vw - $max-width - $volume-width, 2);
}

%io-button {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 .5vw 0 .5vw;
    .mat-button {
        padding-top: 1vh;
    }
}

@mixin io-icon($iconsize) {
    @extend %align-vert;
    .material-icons {
        font-size: $iconsize;
    }
}

.outputs {
    color: var(--text-color);

    @extend %io-row;
    min-height: $outputs-height;
    margin-top: math.div($outputs-height, 8);
    margin-bottom: math.div($outputs-height, 8);
    flex-wrap: wrap;
    text-align: center;
    .output {
        @extend %io-button;
        margin-right:  math.div($max-width, 100);
        width: math.div($max-width, 7);
        height: 100%;
        line-height: 160%;
        align-items: stretch;
        padding-top: 0px;
        .icon {
            @include io-icon(400%);
            grid-template-areas: 
                'icon'
                'label'
                'label';
        }
    }
    .selected {
        //background-color: blue;
    }
}

.inputs {
    color: var(--text-color);

    @extend %io-row;
    min-height: $inputs-height;
    margin-bottom: math.div($inputs-height, 8);
    margin-top: math.div($inputs-height, 10);
    // overflowing inputs line
    flex-wrap: wrap-reverse;
    align-items: stretch;

    .input {

        @extend %io-button;
        margin-right: math.div($max-width, 200);
        width: math.div($max-width, 9);
        margin-bottom: math.div($inputs-height, 23);
        height: 100%;
        line-height: 160%;
        align-items: stretch;
        padding-top: 0px;

        .icon {

            padding-top: 1.3vh;
            @include io-icon(200%);
            height: 100%;

            display: grid;
            grid-template-areas: "icon" "label" "label";
            grid-auto-rows: 30%;
            align-items: start !important;
            gap: 3px;


            i {
                height: 100%;
                grid-area: icon;
            }
            span {
                grid-area: label;
                display: inline-flex;
                align-items: center;
                height: 100%;
                align-self: center;
                text-wrap: balance;
                padding-bottom: 10%;
            }
        }
    }
}

.recording {
    position: absolute;
    bottom: 1vh;
    left: 1%;
    height: 10%;
    width: $max-width;
}

.volume {
    position: absolute;
    //overflow-y: hidden;
    //overflow-x: visible;
    bottom: 0;
    right: 1%;
    height: 90%;
    width: $volume-width;
}

.volume-label {
    position: absolute;
    top: 4%;
    right: 1%;
    width: $volume-width;
    text-align: center;
    font-size: 8pt;
    color: var(--text-color);
}