<div class="outputs">
    <!-- 
        As outputs get closer to the sides of the screen,
        lets make the fade?
        
        And then users can swipe left/right to access more displays if there are more
    -->
    <div *ngFor="let d of preset?.displays" class="output">
        <button mat-button 
            class="mat-elevation-z5"
            [color]="selectedDisplays.has(d) ? 'accent' : ''" 
            (click)="toggleDisplay(d)" 
            [class.mat-raised-button]="selectedDisplays.has(d)">

            <span>{{d?.displayname}}</span>

            <div class="icon">
                <i *ngIf="!d.blanked; else blankicon" class="material-icons">{{d?.getInputIcon()}}</i>
            </div>

            <ng-container *ngIf="d.power != 'standby'; else powerOff">
                <ng-container *ngIf="!d.blanked; else blanked">
                    <span>{{d?.input?.displayname}}</span>
                </ng-container>

                <ng-template #blanked>
                    <span>Blank</span>
                </ng-template>
            </ng-container>
            <ng-template #powerOff>
                <span>off</span>
            </ng-template>
        </button>
    </div>
</div>

<div class="inputs">
    <!-- blank button -->
    <div class="input">
        <button mat-button 
            class="mat-elevation-z2"
            [color]="isOneBlanked() ? 'accent' : ''"
            (click)="blank()"
            [class.mat-raised-button]="isOneBlanked()">

            <div class="icon">
                <ng-container *ngTemplateOutlet="blankicon"></ng-container>
                <span>Blank</span>
            </div>
        </button>
    </div>

    <!-- inputs -->
    <div *ngFor="let i of preset?.inputs" class="input">
        <button mat-button 
            class="mat-elevation-z2"
            [color]="inputUsed(i) ? 'accent' : ''"
            (click)="changeInput(i)"
            (press)="openInputDialog(i)"
            [class.mat-raised-button]="inputUsed(i)">

            <div class="icon">
                <i class="material-icons">{{i.icon}}</i>
                <span>{{i.displayname}}</span>
            </div>
        </button>
    </div>
</div>

<!-- Display component only controls the audioDevices in the "audioDevices" array of the UIConfig -->
<div class="volume">
    <volume
    [level]="preset?.masterVolume"
    [mute]="preset?.masterVolume == 0"
    (levelChange)="command.setMasterVolume($event, preset)"
    (muteChange)="setMasterMute($event.muted)">
    </volume>
</div>

<ng-template #blankicon>
    <i class="material-icons">crop_landscape</i>
</ng-template>
