.starting-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
    color: white;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    z-index: 9999;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 60vh;
    margin-top: 60px;
}

.logo-container > svg {
    width: 100%;
    height: 100%;
}

.starting-screen-message {
    height: 40vh;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.loading-circle {
    border: 8px solid rgba(255, 255, 255, 0.2);
    border-top: 8px solid var(--background-color-accent);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin .75s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* v Z-Pattern Styling v */
.square {
    position: absolute;
    width: 128px;
    height: 128px;
    background-color: black;
    opacity: 0;
    transition: opacity 0.1s;
    touch-action: manipulation;
    z-index: 100000;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}