/* You can add global styles to this file, and also import other style files */

$material-design-icons-font-directory-path: '~material-design-icons-iconfont/dist/fonts/';

@import 'material-design-icons-iconfont/src/material-design-icons';

@import 'app/theme.scss';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@600&display=swap');

@include angular-material-theme($theme);

html {
  overflow: hidden;
  user-select: none;

  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0.1px;
}

// TODO add a background fill to the mic sliders
.volume,
.mic {
  .mat-slider-track-background {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }

  .mat-slider-track-fill {
    background-color: rgba(0, 122, 212, 1);
  }

  .mat-slider-thumb,
  .mat-slider-thumb-label {
    background-color: rgba(0, 122, 212, 1);
  }
}

.volume.muted,
.mic.muted {
  .mat-slider-track-fill {
    background-color: #c62828;
  }

  .mat-slider-thumb,
  .mat-slider-thumb-label {
    background-color: #c62828;
  }
}

/*
.dialog-backdrop {
    backdrop-filter: blur(1vh);
}
*/

.swal2-modal {
  overflow: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
