$max-width: 95vw;
$header-height: 10%;
$master-width: 17vw;
$button-width: 5vw;

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  display: none;

  .header {
    height: $header-height;
  }

  .content {
    height: 100% - $header-height;
  }

  &.show {
    display: unset;
    z-index: 1000;
  }
}

.audiodevices {
  height: 100%;
  width: 100%;
  opacity: 0;
  display: unset;

  transition: 0.3s opacity ease-in-out;

  &.loaded {
    opacity: 1;
  }
}

.text {
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.3em;

  &.title {
    color: white;
    font-size: 1.7em;
  }
}

.exit {
  position: absolute;
  top: 4vh;
  left: 5vh;

  mat-icon {
    transform: scale(2.5);
  }

  span {
    font-size: 1.5em;
    margin-left: 2.5vw;
  }

  background-color: transparent;
  color: white;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// to space things correctly
activity-button {
  margin-left: 8px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;

  padding: 0;
  overflow: hidden;
}

.no-scroll {
  height: 100%;
  width: 100%;

  display: flex;

  .content {
    width: 80%;

    .mixers {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      width: 100%;

      .sliders {
        justify-content: space-evenly;
      }
    }
  }

  .master {
    height: 90%;

    &::before {
      right: $master-width + 4vw;
    }
  }
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 17vw;
  flex: 0 0 auto;

  .label {
    font-size: 1.1em;
    word-wrap: break-word;
  }

  .slider {
    height: 85%;
  }
}

.master {
  top: 0;
  height: 100%;
  width: $master-width;

  display: flex;
  align-items: center;

  &::before {
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.7) 20%,
      rgba(0, 0, 0, 0.7) 80%,
      rgba(0, 0, 0, 0)
    );

    right: $master-width + 1vw;
    top: 30%;

    width: 0.4vw;
    height: 50vh;

    content: "";
  }
}

.mixers {
  height: 100%;
  width: $max-width - $master-width - (2 * $button-width);

  display: flex;
  flex-direction: column;
  align-items: center;

  .sliders {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;

    height: 100%;
    width: 100%;

    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .page-indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    height: 3vh;
    width: 100%;

    position: absolute;
    bottom: 2.3vh;

    .dot {
      height: 0.5em;
      width: 0.5em;
      margin-right: 0.35em;
      background-color: #8b8b8b;
      border-radius: 50%;
      display: inline-block;

      &.selected {
        background-color: #f6f6f6;
      }
    }
  }
}

.button {
  height: 70%;
  min-width: $button-width;
  width: $button-width;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 15vh;

  transition: 0.3s opacity ease-in-out;
  background-color: transparent;
  color: white;

  &.right {
    margin-right: 2vw;
  }

  &.left {
    margin-left: 2vw;
  }
}

.hidden {
  pointer-events: none;
  opacity: 0;
}
