:root {
    --background-color: #263238;
    --top-bar-color: #455a64;
    --background-color-accent: #0091ea;
    --dpad-color: #e3e3e3;
    --dpad-press: #777777;
    --cam-preset-color: #455a64;
    --cam-preset-press: blue;
    --show-cam-text: none;
    --volume-slider-color: #0091ea;
    --help-button-color: #a1c8c3;
    --text-color: white;
    --font-name: 'Source Sans 3', sans-serif;
    font-size: .85em;
}

html,
body {
    background-color: var(--background-color);
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    user-select: none;
}


.header {
    background-color: var(--top-bar-color);
    height: 55px;
    display: none; /*will change to flex when loaded  by script.js*/
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.header>button {
    border: none;
    border-radius: 5px;
    height: 45px;
    width: 200px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 1.5px 0 rgba(255, 255, 255, 0.08) inset;
}

.power-off-btn {
    background-color: #e74945;
    color: white;
    font-weight: bold;
    font-family: var(--font-name);
    font-size: 1em;
}

.help-btn {
    background-color: var(--help-button-color);
    color: var(--text-color);
    font-weight: bold;
    font-family: var(--font-name);
    font-size: 1em;
}

.tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
}

.tab {
    background-color: var(--top-bar-color);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--font-name);
    font-size: 1.2em;
    font-weight: bold;
    max-height: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.active-tab {
    color: var(--background-color-accent);
    border-bottom: 2px solid var(--background-color-accent);
    border-radius: 0;
}

.component-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 56px);
    width: 100%;
    /* 3 slides, adjust if you add more */
    transition: transform 0.3s ease;
}

.component {
    min-width: 100%;
    box-sizing: border-box;
    height: 100%;
}

/* Volume Sliders */
.volume-title {
    font-size: 15px;
}

.volume-container {
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 17px;
    text-align: center;
    color: var(--text-color);
    font-size: 1.2em;
    font-weight: bold;
    z-index: 100000;
}

.volume-slide-container {
    position: relative;
    /* enable absolute positioning */
    height: 100%;
    /* desired height for vertical slider */
    width: 40px;
    /* width just enough for the thumb */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.volume-slider {
    -webkit-appearance: none;
    appearance: none;

    position: absolute;
    /* position absolutely inside container */
    top: 50%;
    /* align top */
    left: 50%;
    /* center horizontally */
    transform: translateX(-50%) rotate(-90deg);
    /* center and rotate */
    width: 300px;
    /* slider length before rotation (will be vertical length) */
    height: 5px;
    /* thickness of slider track */
    border-radius: 5px;
    background: linear-gradient(to right, var(--volume-slider-color) 50%, #d3d3d3 50%);
    outline: none;
    transition: background 0.3s;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--volume-slider-color);
    cursor: pointer;
}

.volume-slider::-moz-range-thumb {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--volume-slider-color);
    cursor: pointer;
}

.mute-button {
    background-color: #546770;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: .8em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 1.5px 0 rgba(255, 255, 255, 0.08) inset;

}

.muted {
    background-color: #e74945 !important;
    color: white;
}

.slider-label {
    position: absolute;
    font-size: 1em;
    font-weight: bold;
    color: var(--text-color);
    pointer-events: none;
    /* so it doesn't block slider interaction */

}

.volume-icon {
    width: 30px;
    height: 30px;
    margin: 0;
    vertical-align: middle;
}

/* simple button click animation */
.btn:active {
  transform: scale(0.92);
}