%location {
    position: absolute;
}

.top {
    @extend %location;
    top: 0;
}

.bottom {
    @extend %location;
    bottom: 0;
}

.left {
    @extend %location;
    left: 0;
}

.right {
    @extend %location;
    right: 0;
}

.button {
    min-height: 30vh;
    min-width: 20vw;
    z-index: 5000;

    pointer-events: all;
}
