#control-column {
    background-color: #2d353f;
    height          : 100%;
    box-shadow      : inset 7px 0 9px -7px rgba(0,0,0,0.4);
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#control-column .row {
    height : 16.666666667%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

#control-column .col-xs-12 {
    height      : 100%;
    color       : rgba(255, 255, 255, 0.5);
    display     : table;
    table-layout: fixed;
}

#control-column a {
    color          : rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#control-column span {
    font-size     : 18px;
    font-weight   : bold;
    letter-spacing: 1px;
    width         : 100%;
    text-align    : center;
    vertical-align: middle;
    display       : table-cell;
}

#control-column .glyphicon {
    font-size: 25px;
}

#control-column .glyphicon:active {
    color: #ffffff;
}

/*stuff for volume slider*/
#vol-slider {
    transform: rotate(270deg) translateY(35%);
    /*change spacing above/below volume slider*/
    margin-top: 75%;
    margin-bottom: 80%;
}

input[type=range]{
    background: linear-gradient(to right, blue, #527090 50%, #e0e0e0);
    -webkit-appearance: none;
    margin-top: -4px; /* move it left/right (left = smaller) */
    width: 132%; /* change size of volume slider */
    margin-left: -23%; /* shift it down */
}

input[type=range]::-webkit-slider-runnable-track {
    width: 1000px;
    height: 5px;
    /*background: #ddd;*/
    border: none;
    border-radius: 3px;
    /*background: grey;*/
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 75%;
    background: white;
    margin-top: -5px;
}

/*input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}*/
