#loading-splash {
    position        : absolute;
    left            : 0;
    top             : 0;
    width           : 100%;
    height          : 100%;
    background-color: #404a54;
    z-index         : 999;
}

#loading-animation {
    position   : absolute;
    left       : 50%;
    top        : 50%;
    width      : 500px;
    height     : 500px;
    margin-left: -250px;
    margin-top : -250px;
}

.svg {
    fill             : none;
    stroke           : #ffffff;
    stroke-width     : 9;
    stroke-linecap   : round;
    stroke-linejoin  : round;
    stroke-miterlimit: 10;
}
