#main {
    padding-left: 0;
    padding-right: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #404a54;
    overflow: hidden;
    cursor: none !important;
}

a,
input {
    cursor: none !important;
}

h1,
h2,
h3 {
    color: rgba(255, 255, 255, 0.75);
}

.version-number {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #889ba9;
    font-size: 14px;
    padding: 10px;
}

.padding-above {
    padding-top: 35px;
}

.padding-below {
    padding-bottom: 35px;
}

.soundboard-button {
    width: 90%;
    height: 85px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px;
    opacity: 0.8;
    background-color: #ffffff;
}

.soundboard-button:hover {
    background-color: #ffffff;
}

.output-row {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    font-size: 125%;
    font-weight: bold;
    display: block;
}

.input-row {
    width: 100%;
    text-align: center;
    margin-bottom: 2%;
    font-size: 125%;
    font-weight: bold;
    display: block;
}

.blank-row {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
    font-size: 125%;
    font-weight: bold;
    display: block;
}

.row {
    width: 100%;
    text-align: center;
}

button:focus { outline-style: none; }

.blank,
.display-output-button,
.display-input-button,
.audio-output-button,
.audio-input-button {
    height: 18%;
    width: 15%;
    opacity: 0, 8;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    overflow: hidden;
    vertical-align:top;
}
