html, body {
	height: 100%;
    min-height: 100%;
	margin: 0;
	cursor: none;
}

.loading-img {
    width: 50%;
    height: 50%;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.inactive {
    color: rgba(0, 0, 0, 0.26);  
    transform: scale(.75,.75) translatey(-20px);
}

.management-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.management-body div {
	display: flex;
	justify-content: center;
	padding-bottom: 2vh;
}

.management {
	position: fixed;
	width: 100%;
	height: 100%;
}

.management div {
	position: fixed;
	height: 20vh;
	width: 20vh;
}

.top {
	top: 0;
}

.right {
	right: 0;	
}

.bottom {
	bottom: 0;
}

.left {
	left: 0;
}

.basediv {
	height: 100%;
	min-height: 100%;
	cursor: none;
	min-width: 100%;
}

.icon-transition {
    transition: .2s; 
}

.basediv, .row {
	margin-left: 0;
	margin-right: 0;	
}

.selected {
    background-color: #BDBDBD;
}

.selected:after {
    background-color: #BDBDBD;
}

.selected:before {
    background-color: #BDBDBD;
}
.sidebar {
/*	background-color: #eee; */
	height: 100%;
	position: fixed;
	right: 1%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sidebar div {
	display: flex;
}

.power-row {
	position: fixed;
	top: 4vh;
	left: 3%;
	width: 20%;
	display: flex;
	justify-content: space-around;
}

.main-control-h {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.main-control-v {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.circle {
	border-radius: 50%;
	width: 55vh;
	height: 55vh;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

/* centered columns styles */
.row-centered {
	display: flex;
	justify-content: center;
}

.output-devices {
    margin-left: auto;
    margin-right: auto;
	margin-top: 12%;
	justify-content: space-around;
    width: 80%;
}

.input-devices {
    margin-left: auto;
    margin-right: auto;
	justify-content: center;
    width: 95%;
}

.power i,
.mute i,
.help i {
	font-size: 9vh;
}

.volume {
	min-height: 80vh;	
}

.output-device,
.input-device {
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
}

.output-device i {
	font-size: 16vh;
}

.input-device i {
	font-size: 13vh;
}

.space {
	height: 60%;
}

.spinner {
  -webkit-animation: spin 8s infinite linear;
}

@-webkit-keyframes spin {
  0% { -webkit-transform:  }
  100% { -webkit-transform: rotateY(360deg) }
}

.spin_fast {
  -webkit-animation: spin_faster 8s infinite linear;
}

@-webkit-keyframes spin_faster {
    2% { -webkit-transform: rotateY(28.8deg )}
    4% { -webkit-transform: rotateY(43.2deg )}
    6% { -webkit-transform: rotateY(64.8deg )}
    8% { -webkit-transform: rotateY(93.6deg )}
    10% { -webkit-transform: rotateY(129.6deg )}
    12% { -webkit-transform: rotateY(172.8deg )}
    14% { -webkit-transform: rotateY(223.2deg )}
    16% { -webkit-transform: rotateY(280.8deg )}
    18% { -webkit-transform: rotateY(345.6deg )}
    20% { -webkit-transform: rotateY(417.6deg )}
    22% { -webkit-transform: rotateY(496.8deg )}
    24% { -webkit-transform: rotateY(583.2deg )}
    26% { -webkit-transform: rotateY(676.8deg )}
    28% { -webkit-transform: rotateY(777.6deg )}
    30% { -webkit-transform: rotateY(885.6deg )}
    32% { -webkit-transform: rotateY(1000.8deg )}
    34% { -webkit-transform: rotateY(1123.2deg )}
    36% { -webkit-transform: rotateY(1252.8deg )}
    38% { -webkit-transform: rotateY(1389.6deg )}
    40% { -webkit-transform: rotateY(1533.6deg )}
    42% { -webkit-transform: rotateY(1684.8deg )}
    44% { -webkit-transform: rotateY(1843.2deg )}
    46% { -webkit-transform: rotateY(2008.8deg )}
    48% { -webkit-transform: rotateY(2181.6deg )}
    50% { -webkit-transform: rotateY(2361.6deg )}
    52% { -webkit-transform: rotateY(2548.8deg )}
    54% { -webkit-transform: rotateY(2743.2deg )}
    56% { -webkit-transform: rotateY(2944.8deg )}
    58% { -webkit-transform: rotateY(3153.6deg )}
    60% { -webkit-transform: rotateY(3369.6deg )}
    62% { -webkit-transform: rotateY(3592.8deg )}
    64% { -webkit-transform: rotateY(3823.2deg )}
    66% { -webkit-transform: rotateY(4060.8deg )}
    68% { -webkit-transform: rotateY(4305.6deg )}
    70% { -webkit-transform: rotateY(4557.6deg )}
    72% { -webkit-transform: rotateY(4816.8deg )}
    74% { -webkit-transform: rotateY(5083.2deg )}
    76% { -webkit-transform: rotateY(5356.8deg )}
    78% { -webkit-transform: rotateY(5637.6deg )}
    80% { -webkit-transform: rotateY(5925.6deg )}
    82% { -webkit-transform: rotateY(6220.8deg )}
    84% { -webkit-transform: rotateY(6523.2deg )}
    86% { -webkit-transform: rotateY(6832.8deg )}
    88% { -webkit-transform: rotateY(7149.6deg )}
    90% { -webkit-transform: rotateY(7473.6deg )}
    92% { -webkit-transform: rotateY(7804.8deg )}
    94% { -webkit-transform: rotateY(8143.2deg )}
    96% { -webkit-transform: rotateY(8488.8deg )}
    98% { -webkit-transform: rotateY(8841.6deg )}
    100% { -webkit-transform: rotateY(9201.6deg )}
}

/* Modal stuff */
.modal-icon {
	display:flex;
	justify-content: center;
	padding-bottom: 4vh;
}

.modal-icon i {
	font-size: 30vh;
}

.helpdialog {
	color: blue;
}

.rebootdialog {
	color: orange;
}

.modal-title {
	display: flex;
	justify-content: center;
	font-size: 5vh;	
	font-weight: bold;
}

.modal-body {
	display: flex;
	justify-content: center;
}

.modal-bottom {
	display: flex;
	justify-content: center;
}

.table-icon {
	/*
	-webkit-mask: url("/assets/table-icon.svg") no-repeat;
	background: #292b2c;
	*/
	height: 13vh;
	width: 13vh;
	position: relative;
	bottom: -1vh;
}

.color {
	color: #eee;
	background-color: #eee;
}

