<!-- main body -->
<div class='basediv'>
    <!-- power, help -->
    <div class='power-row'>
        <div class='power' (click)="buttonpress('power'); powerOff()">
            <i class='material-icons'>power_settings_new</i>
        </div>
        <div class='help' (click)="buttonpress('help'); helpmodal.show()">
            <i class='material-icons'>help</i>
        </div>
    </div>


	<!-- display-selection -->
	<div *ngIf="multipledisplays" class='main-control-h'>
		<div class='display-selection'>
			<div *ngFor="let d of displays" [class.fadeout]="!displayselection" (click)="goToDisplayControl([d.name])">
				<div class='multi-circle-title'>
					<span>{{d.displayname}}</span>
				</div>
				<div class='multi-circle'>
					<i class='material-icons'>{{d.icon}}</i>
				</div>
			</div>
		</div>
	</div>

	<!-- microphone control -->
	<div *ngIf="microphonecontrol" class='main-control-h'>
		<div class='microphone-selection'>
			<div class='mic'>
				<div class='mic-title'>
					<span>Volume</span>
				</div>
				<div class='mic-volume'>
	            	<md-slider id="colored-slider" vertical [value]="selectedDisplay.oaudio.volume" (change)="buttonpress('volume slider'); changeVolume($event.value)"></md-slider>
				</div>
				<div class='mic-mute'>
       	    		<i *ngIf="allmuted" class="material-icons red">volume_off</i>
       	    		<i *ngIf="!allmuted" class="material-icons">volume_up</i>
				</div>
			</div>
		</div>
	</div>

    <!-- display control -->
    <div [class.hidden]='displayselection || microphonecontrol' class='main-control-h'>
        <div class='main-control-v' >
			<div class='roomname' [class.roomname-transition]="!selectedDisplay.blanked || true" (click)="buttonpress('blank'); toggleBlank();">
				<span *ngIf="!dtaMaster">{{selectedDisplay.displayname | lowercase}}</span>
				<span *ngIf="dtaMaster">all displays</span>
			</div>
            <div class='circle' [class.circle-shrink]="!selectedDisplay.blanked || true" [class.circle-blanked]="selectedDisplay.blanked" (click)="buttonpress('blank'); toggleBlank();">
				<i class='material-icons'>{{selectedDisplay.icon}}</i>
				<!-- blanking -->
				<span *ngIf="!selectedDisplay.blanked" class='blank'>picture on</span>
				<span *ngIf="selectedDisplay.blanked" class='blank'>picture off</span>
				<div class='switch-wrapper'>
					<label class="switch">
						<input disabled="disabled" [checked]="!selectedDisplay.blanked" type="checkbox">
						<div class="slider round"></div>
					</label>
				</div>
            </div>
            <ul #ring class="ring" [class.ring-grow]="!selectedDisplay.blanked || true">
				<li class="slice blank-slice" [class.redbackground]="selectedDisplay.blanked" (click)="buttonpress('blank'); toggleBlank();">
					<div>
					</div>
				</li>
				<li class="slice blank-slice" [class.redbackground]="selectedDisplay.blanked"(click)="buttonpress('blank'); toggleBlank();">
					<div>
					</div>
				</li>
                <li *ngFor="let i of selectedDisplay.oinputs"  class="slice input-slice" [class.selectedInput]="selectedDisplay.oinput === i" (click)="buttonpress('change input'); changeInput(i)">
					<div [style.right]="rightoffset" [style.top]="topoffset" class='input'>
						<i class='material-icons'>{{i.icon}}</i>
						<span>{{i.displayname | lowercase}}</span>
					</div>
                </li>
            </ul>
        </div>
    </div>

	<!-- bottom left control -->
    <div class='blank-row'>
		<!-- display to all -->
		<div *ngIf="displaytoall && !dtaMinion" class="displaytoall" [class.excite]="sendingDTA" [class.alignleft]="!multipledisplays">
			<i class='material-icons' [class.red]="dtaMaster" [class.excite]="sendingDTA" (click)="toggleDisplayToAll();">call_split</i>
		</div>
		<!-- all control -->
		<div *ngIf="multipledisplays" class="all-control" [class.alignleft]="!displayToAll">
			<i *ngIf="!displayselection" class='material-icons' (click)="goToDisplaySelection()">group_work</i>
			<i *ngIf="displayselection" class='material-icons' (click)="goToDisplayControl(['all'])">album</i>
		</div>
    </div>

	<!-- bottom right control -->
    <div class="audio-row">
		<div *ngIf="microphone" class="microphone" (click)="microphonecontrol = !microphonecontrol">
			<i class="material-icons">mic</i>
		</div>
       	<div *ngIf="!displayselection && !dtaMinion" (click)="buttonpress('mute'); toggleMute()" [class.alignright]="!microphone">
       	    <i *ngIf="isMuted()" class="material-icons red">volume_off</i>
       	    <i *ngIf="!isMuted()" class="material-icons">volume_up</i>
       	</div>
    </div>

    <!-- sidebar -->
    <div *ngIf="!displayselection && !dtaMinion" class='sidebar'>
        <div class='volume alignright'>
            <md-slider id="colored-slider" vertical [value]="volume" (change)="buttonpress('volume slider'); changeVolume($event.value)"></md-slider>
        </div>
    </div>

    <!-- slice of the circle -->
<svg id='svg-block' width="0" height="0">
  <defs>
    <clipPath clipPathUnits="objectBoundingBox" id="sector">
		<path fill="transparent" stroke="#111" stroke-width="1" id="sector" [attr.d]="arcpath"></path>
    </clipPath>
  </defs>
</svg>

</div>

<div class='overlay basediv' *ngIf="!showing" [@fadeInOut] (click)="buttonpress('power on'); enterScreen()">
    <img class='loading-img' [class.spinner]='!startSpinning' [class.spin_fast]='startSpinning' src='assets/byu_medallion_white.svg'>
</div>

<!-- management dialog -->
<div class="management basediv priority" *ngIf="!showing">
    <div class="top right" (click)="management(1)">
    </div>
    <div class="top left" (click)="management(3)">
    </div>
    <div class="bottom left" (click)="management(2)">
    </div>
    <div *ngIf="!man1 || !man2 || !man3" class="bottom right" (click)="management(4)">
    </div>
    <div *ngIf="man1 && man2 && man3" class="bottom right" (click)="management(4); managementmodal.show();">
    </div>
</div>


<!-- pop-ups -->
<app-modal #helpmodal>
    <div class="app-modal-body">
        <div class="modal-icon">
            <i class='material-icons helpdialog'>info_outline</i>
        </div>
        <div class="modal-title">
            Help
        </div>
        <div class="modal-body">
            <span id="helpwords">Please call AV Support at 801-422-7671 for help, or request help by pressing 'Request Help'</span>
        </div>
        <div class="modal-bottom">
			<button class="btn btn-warning" [disabled]="helprequested" (click)="slackconfirmmodal.show(); help('help')">Request Help</button>
			<div class="btnspacing"></div>
            <button class="btn btn-primary" (click)="helpmodal.hide();">Done</button>
        </div>
    </div>
</app-modal>

<app-modal #slackconfirmmodal>
    <div class="app-modal-body">
        <div class="modal-icon">
            <i class='material-icons helpdialog'>info_outline</i>
        </div>
        <div class="modal-title">
            Confirm
        </div>
        <div class="modal-body">
            <span id="helpwords">Request recieved! A technician is on their way.</span>
        </div>
        <div class="modal-bottom">
			<button class="btn btn-success" (click)="help('confirm'); helpmodal.hide(); slackconfirmmodal.hide();">Ok</button>
			<div class="btnspacing"></div>
            <button class="btn btn-primary" (click)="help('cancel'); helpmodal.hide(); slackconfirmmodal.hide();">Cancel</button>
        </div>
    </div>
</app-modal>

<app-modal #managementmodal>
    <div class="app-modal-body">
        <div class="modal-title">
            Management
        </div>
        <div class="modal-body">
            <div class="management-body">
				<!-- 
                <div>
					<button class="btn btn-success" (click)="clearToShow(); readToShowCookies(); displaysmodal.show()">Setup</button>
                </div>
				-->
                <div>
                    <button class="btn btn-warning" (click)="refresh()">Refresh</button>
                </div>
                <div>
                    <button class="btn btn-info" (click)="deviceinfo(); deviceinfomodal.show()">Device Info</button>
                </div>
                <div>
                    <button class="btn btn-info" (click)="dockerstatus(); dockerstatusmodal.show()">Docker Status</button>
                </div>
				<!-- 
                <div>
                    <button class="btn btn-warning" (click)="deleteCookies()">Clear Local Data</button>
                </div>
				-->
                <div>
                    <button class="btn btn-danger" (click)="confirmrebootmodal.show()">Reboot</button>
                </div>
            </div>
        </div>
        <div class="modal-bottom">
            <button class="btn btn-primary" (click)="managementmodal.hide()">Done</button>
        </div>
    </div>
</app-modal>

<!-- 
<app-modal #displaysmodal>
    <div class="app-modal-body">
        <div class="modal-title">
           	Select default displays for this panel 
        </div>
        <div class="modal-body">
			<ul class='list-group'>
				<li *ngFor="let d of displays" class='list-group-item' [class.list-group-item-info]="isInDisplaysToShow(d)" (click)="toggleDisplayToShow(d);">{{d.name}} ({{d.displayName}})</li>
			</ul>
        </div>
        <div class="modal-bottom">
            <button class="btn btn-primary" (click)="displaysmodal.hide(); inputsmodal.show();">Next</button>
        </div>
    </div>
</app-modal>

<app-modal #inputsmodal>
    <div class="app-modal-body">
        <div class="modal-title">
			Select inputs to offer
        </div>
        <div class="modal-body">
			<ul class='list-group'>
				<li *ngFor="let d of inputs" class='list-group-item' [class.list-group-item-info]="isInInputsToShow(d)" (click)="toggleInputToShow(d)">{{d.name}}</li>
			</ul>
        </div>
        <div class="modal-bottom">
            <button class="btn btn-primary" (click)="inputsmodal.hide(); extrafeaturesmodal.show()">Next</button>
        </div>
    </div>
</app-modal>

<app-modal #extrafeaturesmodal>
    <div class="app-modal-body">
        <div class="modal-title">
			Select any extra features	
        </div>
        <div class="modal-body">
			<ul class='list-group'>
				<li class='list-group-item' [class.list-group-item-info]="isExtraFeatureOn('dta')" (click)="toggleExtraFeatures('dta');">Display To All</li>
			</ul>
        </div>
        <div class="modal-bottom">
            <button class="btn btn-primary" (click)="extrafeaturesmodal.hide(); createToShowCookies();">Done</button>
        </div>
    </div>
</app-modal>
-->

<app-modal #deviceinfomodal>
    <div class="app-modal-body">
        <div class="modal-title">
            Device Info
        </div>
        <div class="modal-body">
            <div class="vert-align">
                <div *ngIf="deviceInfo.hostname">
                    <span>Hostname:</span>
                    <span>{{deviceInfo.hostname}}</span>
                </div>
                <div *ngIf="deviceInfo.ipaddress">
                    <span>IP Address:</span>
                    <span>{{deviceInfo.ipaddress}}</span>
                </div>
            </div>
        </div>
        <div class="modal-bottom">
            <button class="btn btn-primary" (click)="deviceinfomodal.hide()">Done</button>
        </div>
    </div>
</app-modal>

<app-modal #dockerstatusmodal>
    <div class="app-modal-body">
        <div class="modal-title">
            Docker Status
        </div>
        <div class="modal-body">
            <div *ngIf="dockerStatus" style="overflow: hidden;">
                <pre>{{dockerStatus}}</pre>
            </div>
        </div>
        <div class="modal-bottom">
            <button class="btn btn-primary" (click)="dockerstatusmodal.hide()">Done</button>
        </div>
    </div>
</app-modal>

<app-modal #confirmrebootmodal>
    <div class="app-modal-body">
        <div class="modal-icon">
            <i class='material-icons rebootdialog'>info_outline</i>
        </div>
        <div class="modal-title">
            Are you sure?
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-bottom">
            <button class="btn btn-danger" (click)="confirmrebootmodal.hide()">Cancel</button>
            <button class="btn btn-success" (click)="reboot()">Reboot</button>
        </div>
    </div>
</app-modal>
