<div class='basediv'>
<div class='row'>

	<!-- main -->
    <div class='column col-sm-9'>
        <div class='row row-centered output-devices'>
            <div *ngFor='let device of displays'>
                <div class='output-device icon-transition' (click)="setOutputDevice(device)">
               		<span [class.inactive]="!device.selected" class='output-device-name icon-transition'>{{device.displayName}}</span>
					<i [class.inactive]="!device.selected" class='material-icons icon-transition'>{{device.type}}</i>
				</div>
            </div>
        </div>

		<!-- spacing between output/input devices -->
		<div class='space'>
		</div>

		<!-- 
		<div class='row row-centered blank'>
			<div class='col-centered'>	
				blank
			</div>
		</div>
		-->

        <div class='row row-centered input-devices'>
			<div class="col-sm-2">
				<div class='input-device' (click)="blank()">
					<i class='material-icons icon-transition'>panorama_wide_angle</i>
               		<span class='input-device-name'>Blank</span>
				</div>
			</div>
            <div class="col-sm-2" *ngFor='let device of inputs'>
				<div class='input-device' (click)="setInputDevice(device)">
					<i class='material-icons icon-transition'>{{device.type}}</i>
               		<span class='input-device-name'>{{device.displayName}}</span>
				</div>
            </div>
        </div>
    </div>


	<!-- sidebar -->
    <div class='column col-sm-3 sidebar'>
        <div class="power" (click)="powerOff()">
            <i class="material-icons">power_settings_new</i>
        </div>
        <div class="help" (click)="showHelp()">
            <i class="material-icons">help</i>
        </div>
        <div class="mute">
			<div *ngIf="muted" (click)="toggleMute()">
				<i class="material-icons">volume_off</i>
			</div>
			<div *ngIf="!muted" (click)="toggleMute()">
				<i class="material-icons">volume_up</i>
			</div>
        </div>
        <div class='volume'>
			<md-slider vertical thumbLabel tickInterval='auto' [value]="volume" (change)="updateVolume($event.value)"></md-slider>
        </div>
    </div>

</div>
</div>
<div class='overlay basediv'  *ngIf="!showing" [@fadeInOut] (click)="enterScreen()">
    <img class='loading-img' [class.spinner]='!startSpinning' [class.spin_fast]='startSpinning'  src='assets/byu_medallion_black_white.svg'>

</div>
	<!-- management dialog -->
<div class="management basediv" *ngIf="!showing">
	<div class="top right" (click)="management(1)">
	</div>
	<div class="top left" (click)="management(3)">
	</div>
	<div class="bottom left" (click)="management(2)">
	</div>
	<div class="bottom right" (click)="management(4)">
	</div>
</div>
<!--
<h3>Messages</h3>
<div *ngFor="let m of messages">
	<pre>{{m | json}}</pre>
</div>
<h3>Events</h3>
<div *ngFor="let event of events">
	<pre>{{event | json}}</pre>
</div>

<h3>RoomData</h3>
<pre>{{room | json}}</pre>

<h3>Displays</h3>
<pre>{{room.config.displays | json}}</pre>

<h3>audioDevices</h3>
<pre>{{room.config.audioDevices | json}}</pre>
-->
