html, body {
	height: 100%;
	margin: 0;
}

.basediv {
	height: 100%;
	min-height: 100%;
}

.basediv, .row {
	margin-left: 0;
	margin-right: 0;	
}

.sidebar {
	background-color: #eee;
	height: 100%;
	position: fixed;
	right:0;
}

/* centered columns styles */
.row-centered {
	display: flex;
	justify-content: center;
}

.output-devices {
	margin-top: 10vh;
	justify-content: space-around;
}

.input-devices {

}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.sidebar div {
	display: flex;
	justify-content: center;
}

.power i,
.mute i {
	font-size: 9vh;
}

.volume {
	min-height: 40vh;	
}

.output-device,
.input-device {
	display: flex;
	flex-direction: column;
	justify-conent: center;
	align-items: center;
}

.output-device i {
	font-size: 11vh;
}

.input-device i {
	font-size: 8vh;
}

.space {
	height: 130%;
}
