html, body {
	height: 100%;
}

.basediv, .row {
	height: 100%;
	margin-left: 0;
	margin-right: 0;	
	min-height: 100%;
}

.sidebar {
	background-color: #eee;
	height: 100%;
	position: fixed;
	right:0;
}

/* centered columns styles */
.row-centered {
	display: flex;
	justify-content: center;
}

.output-devices {
	margin-top: 10vh;
}

.input-devices {

}
