@import url(//fonts.googleapis.com/css?family=Indie+Flower);

$base: #A5E2F3;

.ring {
  padding: 0;
  list-style: none;
  position: relative;
  margin: 30px auto;
  width: 70%;
  height: 0;
  padding-top: 70%;
}

.ring li { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  clip-path: url(#sector);

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  &:hover {
    background-color: gold;
  }
}

.icon {
  position: absolute;
  /* exact values here depend on what you are placing inside the items (icon, image, text, etc.) */
  right: 15%;
  top: 30%;
  /* make sure it it rotated enough; angle of rotation = angle of the sector itself */
  transform: rotate(60deg);
  
  /* style further as needed */
  color: darken($base, 60%);
  font-family: Indie Flower;
  font-size: 25px;
}

p {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#svg-block {
//	display: none;
}
