<mat-tab-group #tabs
    color="accent"
    class="mat-tab-label-darker">
    <ng-container *ngIf="preset?.displays?.length > 0">
        <mat-tab label="Displays">
            <!-- master slider -->
            <div class="master">
                <div class="device">
                    <span>Master Volume</span>
                    <i class="material-icons">speaker_group</i>
                    <volume class="volume"
                        [level]="preset?.masterVolume"
                        [mute]="preset?.masterVolume == 0"
                        (levelChange)="command.setMasterVolume($event, preset); command.buttonPress('master volume set')"
                        (muteChange)="setMasterMute($event.muted); command.buttonPress('master volume mute')">
                    </volume>
                </div>
            </div>

            <div class="devices displays">
                <!-- preset.audioDevices mixLevel sliders -->
                <div *ngFor="let a of preset?.audioDevices" class="device">
                    <span>{{a.displayname}}</span>
                    <i class="material-icons">{{a.icon}}</i>
                    <volume class="volume"
                        [level]="a?.mixlevel"
                        [mute]="a?.mixlevel == 0"
                        (levelChange)="command.setMixLevel($event, a, preset); command.buttonPress('mix level set')"
                        (muteChange)="command.setMixLevel($event.level, a, preset); command.buttonPress('mix level mute')">
                    </volume>
                </div>
            </div>
        </mat-tab>
    </ng-container>

    <!-- List of all the extra audio types included. This makes sure the first char is uppercase -->
    <ng-container *ngIf="audioGroups; else noAudioGroups">
        <mat-tab *ngFor="let type of audioTypes" [label]="type?.charAt(0).toUpperCase() + type.slice(1) + 's'">
            <div class="devices">
                <div *ngFor="let a of preset?.audioTypes?.get(type)" class="device">
                    <span>{{a.displayname}}</span>
                    <i class="material-icons">{{a.icon}}</i>
                    <volume class="volume"
                        [level]="!a?.muted ? a?.volume : 0"
                        [mute]="a?.muted" 
                        (levelChange)="command.setVolume($event, [a]); command.buttonPress('audio type volume set')"
                        (muteChange)="command.setMute($event.muted, [a]); command.buttonPress('audio type mute')">
                    </volume>
                </div>
            </div>
        </mat-tab>
    </ng-container>

    <ng-template #noAudioGroups>
        <mat-tab label="Devices">
            <div class="devices">
                <div *ngFor="let a of preset?.independentAudioDevices" class="device">
                    <span>{{a.displayname}}</span>
                    <i class="material-icons">{{a.icon}}</i>
                    <volume class="volume"
                        [level]="a?.volume"
                        [mute]="a?.muted"
                        (levelChange)="command.setVolume($event, [a]); command.buttonPress('independent audio volume set')"
                        (muteChange)="command.setMute($event.muted, [a]); command.buttonPress('independent audio mute')">
                    </volume>
                </div>
            </div>
        </mat-tab>
    </ng-template>
</mat-tab-group>

