<div class="base">
    <div class="row outputs">
        <!-- <ng-container *ngFor="let display of cg?.displays">
            <wide-button></wide-button>
        </ng-container> -->
        <wide-button [data]="cg?.displays[0]" [outputs]="cg?.displays[0].outputs" [input]="getInputInfo(cg?.displays[0].input)" [click]="selectDisplay" [press]="selectDisplay" [selected]="selectedDisplay === cg?.displays[0]"></wide-button>
    </div>
    <mat-divider></mat-divider>
    <div class="input-container">
        <div class="column inputs">
            <square-button class="square-button input" *ngFor="let i of cg?.inputs" [data]="i" [icon]="i.iconPair.icon" [title]="i.iconPair.name" [selected]="!selectedDisplay?.blanked && selectedDisplay?.input === i.id" [click]="selectInput" [press]="selectInput">
            </square-button>
        </div>
    </div>


</div>