<!-- <p>selection works!</p> -->

<div class="row header">
    <button mat-button (click)="goBack()" color="primary">< Select Room</button>
    <span class="room-title">{{roomID}}</span>
    <span class="empty-thing"></span>
</div>

<div class="row options">
    <square-button class="square-button" *ngFor="let cg of bff.room?.controlGroups" [data]="cg" [icon]="cg.name" [title]="cg.listDisplays()" [showIcon]="false" [click]="selectControlGroup" [press]="selectControlGroup"></square-button>
</div>