body {
    min-width       : 550px;
    min-height      : 550px;
    margin          : 0;
    padding         : 0;
    background-color: #111111;
}

#animation {
    position   : absolute;
    left       : 50%;
    top        : 50%;
    width      : 500px;
    height     : 500px;
    margin-left: -250px;
    margin-top : -250px;
}

.svg {
    fill             : none;
    stroke           : #ffffff;
    stroke-width     : 9;
    stroke-linecap   : round;
    stroke-linejoin  : round;
    stroke-miterlimit: 10;
}
