body {
    min-width       : 550px;
    min-height      : 550px;
    margin          : 0;
    padding         : 0;
    background-color: #404a54;
}

h1,
h2,
h3 {
    color: rgba(255, 255, 255, 0.75);
}

.version-number {
    position : absolute;
    right    : 0;
    bottom   : 0;
    color    : #889ba9;
    font-size: 14px;
    padding  : 10px;
}
